## Merge player stats and salaries

For years with no team data, get from basketball-reference.com, and first row for each player traded is the team they started the season with.

In [2]:
import pandas as pd
import numpy as np

# Preprocessing

In [12]:
#read all the seasons one by one
stat23 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_stats\stats_2023_24.csv')
stat22 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_stats\stats_2022_23.csv')
stat21 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_stats\stats_2021_22.csv')
stat20 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_stats\stats_2020_21.csv')
stat19 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_stats\stats_2019_20.csv')
stat18 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_stats\stats_2018_19.csv')
stat17 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_stats\stats_2017_18.csv')
stat16 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_stats\stats_2016_17.csv')
stat15 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_stats\stats_2015_16.csv')
stat14 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_stats\stats_2014_15.csv')
stat13 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_stats\stats_2013_14.csv')
stat12 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_stats\stats_2012_13.csv')
stat11 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_stats\stats_2011_12.csv')
stat10 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_stats\stats_2010_11.csv')

adv23 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_advanced\advanced_23_24.csv')
adv22 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_advanced\advanced_22_23.csv')
adv21 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_advanced\advanced_21_22.csv')
adv20 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_advanced\advanced_20_21.csv')
adv19 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_advanced\advanced_19_20.csv')
adv18 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_advanced\advanced_18_19.csv')
adv17 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_advanced\advanced_17_18.csv')
adv16 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_advanced\advanced_16_17.csv')
adv15 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_advanced\advanced_15_16.csv')
adv14 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_advanced\advanced_14_15.csv')
adv13 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_advanced\advanced_13_14.csv')
adv12 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_advanced\advanced_12_13.csv')
adv11 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_advanced\advanced_11_12.csv')
adv10 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_advanced\advanced_10_11.csv')

sal23 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_salaries\Salary_data_2023_24_noteam.csv',index_col=0)
sal22 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_salaries\Salary_data_2022_23_noteam.csv',index_col=0)
sal21 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_salaries\Salary_data_2021_22_noteam.csv',index_col=0)
sal20 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_salaries\Salary_data_2020_21.csv')
sal19 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_salaries\Salary_data_2019_20_noteam.csv',index_col=0)
sal18 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_salaries\Salary_data_2018_19_noteam.csv',index_col=0)
sal17 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_salaries\Salary_data_2017_18.csv')
sal16 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_salaries\Salary_data_2016_17.csv')
sal15 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_salaries\Salary_data_2015_16.csv')
sal14 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_salaries\Salary_data_2014_15.csv')
sal13 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_salaries\Salary_data_2013_14.csv')
sal12 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_salaries\Salary_data_2012_13.csv')
sal11 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_salaries\Salary_data_2011_12.csv')
sal10 = pd.read_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\player_salaries\Salary_data_2010_11.csv')

In [13]:
#add season column to the dataframes with only the start year of the season
stat23['Season'] = 2023
stat22['Season'] = 2022
stat21['Season'] = 2021
stat20['Season'] = 2020
stat19['Season'] = 2019
stat18['Season'] = 2018
stat17['Season'] = 2017
stat16['Season'] = 2016
stat15['Season'] = 2015
stat14['Season'] = 2014
stat13['Season'] = 2013
stat12['Season'] = 2012
stat11['Season'] = 2011
stat10['Season'] = 2010

adv23['Season'] = 2023
adv22['Season'] = 2022
adv21['Season'] = 2021
adv20['Season'] = 2020
adv19['Season'] = 2019
adv18['Season'] = 2018
adv17['Season'] = 2017
adv16['Season'] = 2016
adv15['Season'] = 2015
adv14['Season'] = 2014
adv13['Season'] = 2013
adv12['Season'] = 2012
adv11['Season'] = 2011
adv10['Season'] = 2010

sal23['Season'] = 2023
sal22['Season'] = 2022
sal21['Season'] = 2021
sal20['Season'] = 2020
sal19['Season'] = 2019
sal18['Season'] = 2018
sal17['Season'] = 2017
sal16['Season'] = 2016
sal15['Season'] = 2015
sal14['Season'] = 2014
sal13['Season'] = 2013
sal12['Season'] = 2012
sal11['Season'] = 2011
sal10['Season'] = 2010

In [23]:
#concatenate the dataframes
stat = pd.concat([stat23,stat22,stat21,stat20,stat19,stat18,stat17,stat16,stat15,stat14,stat13,stat12,stat11,stat10])
adv = pd.concat([adv23,adv22,adv21,adv20,adv19,adv18,adv17,adv16,adv15,adv14,adv13,adv12,adv11,adv10])
sal = pd.concat([sal23,sal22,sal21,sal20,sal19,sal18,sal17,sal16,sal15,sal14,sal13,sal12,sal11,sal10])

In [24]:
#drop the team column from the salary dataframes
sal = sal.drop(columns=['Team'])
#and all unnamed columns
sal = sal.loc[:, ~sal.columns.str.contains('^Unnamed')]
stat = stat.loc[:, ~stat.columns.str.contains('^Unnamed')]
adv = adv.loc[:, ~adv.columns.str.contains('^Unnamed')]

In [32]:
#merge the dataframes and only keep 1 column if there are duplicates

df_t1 = pd.merge(stat,adv, on=['Player','Season','Tm'], how='inner')
df = pd.merge(df_t1,sal, on=['Player','Season'], how='left')
df['Salary'] = df['Salary'].str.replace('$', '')
df.head(5)

C:\Users\krist\AppData\Local\Temp\ipykernel_4800\2608188381.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Salary'] = df['Salary'].str.replace('$', '')

,Rk_x,Player,Pos_x,Age_x,Tm,G_x,GS,MP_x,FG,FGA,...,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Player-additional_y,Salary
0,1,Precious Achiuwa,PF-C,24,TOT,74,18,21.9,3.2,6.3,...,1.2,2.2,3.4,0.102,-1.7,0.3,-1.4,0.2,achiupr01,"4,379,526"
1,1,Precious Achiuwa,C,24,TOR,25,0,17.5,3.1,6.8,...,0.0,0.4,0.4,0.048,-1.4,-0.2,-1.6,0.0,achiupr01,"4,379,526"
2,1,Precious Achiuwa,PF,24,NYK,49,18,24.2,3.2,6.1,...,1.2,1.8,3.0,0.122,-1.9,0.5,-1.4,0.2,achiupr01,"4,379,526"
3,2,Bam Adebayo,C,26,MIA,71,71,34.0,7.5,14.3,...,2.9,4.3,7.2,0.144,0.8,1.7,2.4,2.7,adebaba01,"32,600,060"
4,3,Ochai Agbaji,SG,23,TOT,78,28,21.0,2.3,5.6,...,-0.5,0.6,0.1,0.002,-3.5,-0.9,-4.4,-1.0,agbajoc01,"4,114,200"

In [33]:
#delete the pos_x column and rename the pos_y column to pos
df = df.drop(columns=['Pos_x'])
df = df.rename(columns={'Pos_y': 'Pos'})
#same for the age columns
df = df.drop(columns=['Age_x'])
df = df.rename(columns={'Age_y': 'Age'})
#same for all the other columns where there are duplicates
df = df.drop(columns=['G_x'])
df = df.rename(columns={'G_y': 'G'})
df = df.drop(columns=['MP_x'])
df = df.rename(columns={'MP_y': 'MP'})

#drop the rows where the salary is NaN
#df = df.dropna(subset=['Salary'])

In [35]:
df.head(5)

,Rk_x,Player,Tm,GS,FG,FGA,FG%,3P,3PA,3P%,...,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Player-additional_y,Salary
0,1,Precious Achiuwa,TOT,18,3.2,6.3,0.501,0.4,1.3,0.268,...,1.2,2.2,3.4,0.102,-1.7,0.3,-1.4,0.2,achiupr01,"4,379,526"
1,1,Precious Achiuwa,TOR,0,3.1,6.8,0.459,0.5,1.9,0.277,...,0.0,0.4,0.4,0.048,-1.4,-0.2,-1.6,0.0,achiupr01,"4,379,526"
2,1,Precious Achiuwa,NYK,18,3.2,6.1,0.525,0.3,1.0,0.260,...,1.2,1.8,3.0,0.122,-1.9,0.5,-1.4,0.2,achiupr01,"4,379,526"
3,2,Bam Adebayo,MIA,71,7.5,14.3,0.521,0.2,0.6,0.357,...,2.9,4.3,7.2,0.144,0.8,1.7,2.4,2.7,adebaba01,"32,600,060"
4,3,Ochai Agbaji,TOT,28,2.3,5.6,0.411,0.8,2.7,0.294,...,-0.5,0.6,0.1,0.002,-3.5,-0.9,-4.4,-1.0,agbajoc01,"4,114,200"

In [ ]:
#save the dataframe to a csv file
df.to_csv(r'C:\Users\krist\Documents\BME\2023_2024_2\Diplomatervezes_1\data\all_player_stats.csv',index=False)