In [1]:
#set params
luxury_cap = 100 #original: 150
max_contract = 35 #original: 37
rookie_contract = 18 #original: 8

In [2]:
#create a dataframe with a team column for the 30 NBA teams and a column with their total revenues
import pandas as pd
import numpy as np


data = {
    'Team': ['Atlanta Hawks', 'Boston Celtics', 'Brooklyn Nets', 'Charlotte Hornets', 'Chicago Bulls',
             'Cleveland Cavaliers', 'Dallas Mavericks', 'Denver Nuggets', 'Detroit Pistons', 'Golden State Warriors',
             'Houston Rockets', 'Indiana Pacers', 'LA Clippers', 'Los Angeles Lakers', 'Memphis Grizzlies',
             'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves', 'New Orleans Pelicans', 'New York Knicks',
             'Oklahoma City Thunder', 'Orlando Magic', 'Philadelphia 76ers', 'Phoenix Suns', 'Portland Trail Blazers',
             'Sacramento Kings', 'San Antonio Spurs', 'Toronto Raptors', 'Utah Jazz', 'Washington Wizards'],
    'Total_Revenue': [326, 443, 367, 269, 372, 348, 429, 348, 274, 765, 381, 263, 425, 516, 258,
                      371, 328, 259, 262, 504, 267, 261, 371, 366, 300, 289, 319, 305, 274, 323],
    'Total_salary': [154, 178, 159, 125, 152, 152, 177, 162, 129, 192, 137, 125, 193, 169, 127,
                     151, 182, 145, 148, 149, 149, 126, 150, 176, 145, 139, 105, 151, 149, 152]

}

# Create a DataFrame
nba_teams_df = pd.DataFrame(data)
#change team names to abbreviations
team_abbr = {'Atlanta Hawks': 'ATL', 'Boston Celtics': 'BOS', 'Brooklyn Nets': 'BRK', 'Charlotte Hornets': 'CHO', 'Chicago Bulls': 'CHI', 'Cleveland Cavaliers': 'CLE', 'Dallas Mavericks': 'DAL', 'Denver Nuggets': 'DEN', 'Detroit Pistons': 'DET', 'Golden State Warriors': 'GSW', 'Houston Rockets': 'HOU', 'Indiana Pacers': 'IND', 'LA Clippers': 'LAC', 'Los Angeles Lakers': 'LAL', 'Memphis Grizzlies': 'MEM', 'Miami Heat': 'MIA', 'Milwaukee Bucks': 'MIL', 'Minnesota Timberwolves': 'MIN', 'New Orleans Pelicans': 'NOP', 'New York Knicks': 'NYK', 'Oklahoma City Thunder': 'OKC', 'Orlando Magic': 'ORL', 'Philadelphia 76ers': 'PHI', 'Phoenix Suns': 'PHO', 'Portland Trail Blazers': 'POR', 'Sacramento Kings': 'SAC', 'San Antonio Spurs': 'SAS', 'Toronto Raptors': 'TOR', 'Utah Jazz': 'UTA', 'Washington Wizards': 'WAS'}
nba_teams_df['Team'] = nba_teams_df['Team'].map(team_abbr)

In [3]:
team_stats = pd.read_csv(r"C:\Users\krist\Documents\BME\2024_2025_1\Diplomatervezes_2\data\ML_outputs\team_clusters.csv")
team_stats = team_stats.rename(columns={"team": "Team"})
team_stats = team_stats.merge(nba_teams_df, on='Team')

team_stats

,Team,Rk_x,Age,W_x,L_x,PW,PL,MOV_x,SOS,SRS,...,Total Roster,Cluster_1,Cluster_2,Cluster_3,Cluster_4,Cluster_5,Cluster_6,Cluster,Total_Revenue,Total_salary
0,BOS,1.0,27.4,57.0,25.0,57,25,6.52,-0.15,6.38,...,15,2,2,3,2,4,5,0,443,178
1,CLE,2.0,25.4,51.0,31.0,55,27,5.38,-0.15,5.23,...,15,1,2,1,6,2,6,0,348,152
2,PHI,3.0,28.2,54.0,28.0,52,30,4.32,0.06,4.37,...,15,2,0,3,6,3,7,0,371,150
3,MEM,4.0,24.4,51.0,31.0,51,31,3.94,-0.34,3.60,...,15,1,4,2,6,1,5,0,258,127
4,MIL,5.0,29.8,58.0,24.0,50,32,3.63,-0.02,3.61,...,15,1,2,2,5,2,9,0,328,182
5,DEN,6.0,26.6,53.0,29.0,49,33,3.33,-0.29,3.04,...,15,1,1,2,4,5,5,0,348,162
6,NYK,7.0,24.5,47.0,35.0,48,34,2.93,0.06,2.99,...,15,2,3,2,3,1,6,0,504,149
7,SAC,8.0,25.4,48.0,34.0,47,35,2.65,-0.35,2.30,...,15,2,0,3,4,4,7,0,289,139
8,PHO,9.0,28.1,45.0,37.0,46,36,2.07,0.01,2.08,...,15,1,2,3,8,5,1,0,366,176
9,NOP,10.0,25.9,42.0,40.0,46,36,1.89,-0.26,1.63,...,15,1,2,3,6,2,3,0,262,148
10,GSW,11.0,27.3,44.0,38.0,45,37,1.80,-0.15,1.66,...,15,1,2,3,4,3,5,0,765,192
11,TOR,12.0,25.8,41.0,41.0,45,37,1.48,0.12,1.59,...,15,1,3,4,0,3,9,0,305,151
12,CHI,13.0,27.5,40.0,42.0,44,38,1.29,0.07,1.37,...,15,2,2,0,5,5,4,0,372,152
13,OKC,14.0,22.8,40.0,42.0,44,38,1.09,-0.12,0.96,...,15,1,0,3,7,4,4,0,267,149
14,BRK,15.0,28.0,45.0,37.0,43,39,0.85,0.18,1.03,...,15,1,2,5,8,1,8,2,367,159
15,LAL,16.0,27.9,43.0,39.0,42,40,0.57,-0.15,0.43,...,15,2,1,2,8,4,7,2,516,169
16,LAC,17.0,29.7,44.0,38.0,42,40,0.50,-0.19,0.31,...,15,1,1,3,9,3,4,2,425,193
17,ATL,18.0,24.9,41.0,41.0,42,40,0.29,0.02,0.32,...,15,1,3,2,3,3,8,2,326,154
18,DAL,19.0,27.8,38.0,44.0,41,41,0.07,-0.22,-0.14,...,15,1,2,2,6,2,10,2,429,177
19,MIN,20.0,25.8,42.0,40.0,41,41,-0.04,-0.18,-0.22,...,15,0,3,4,3,3,7,2,259,145
20,MIA,21.0,27.7,44.0,38.0,40,42,-0.32,0.18,-0.13,...,15,2,0,1,7,5,5,0,371,151
21,UTA,22.0,26.5,37.0,45.0,39,43,-0.94,-0.09,-1.03,...,15,1,2,3,7,4,6,2,274,149
22,WAS,23.0,26.2,35.0,47.0,38,44,-1.21,0.15,-1.06,...,15,1,1,2,7,3,9,2,323,152
23,ORL,24.0,23.1,34.0,48.0,35,47,-2.56,0.17,-2.39,...,15,0,2,4,5,3,6,2,261,126
24,IND,25.0,24.5,35.0,47.0,33,49,-3.18,0.28,-2.91,...,15,1,3,2,6,2,6,2,263,125
25,POR,26.0,25.1,33.0,49.0,31,51,-4.01,0.05,-3.96,...,15,1,3,3,7,1,9,2,300,145
26,CHO,27.0,25.3,27.0,55.0,26,56,-6.24,0.35,-5.89,...,15,0,3,5,4,1,6,1,269,125
27,HOU,28.0,22.1,22.0,60.0,23,59,-7.85,0.24,-7.62,...,15,0,4,2,2,5,5,1,381,137
28,DET,29.0,24.1,17.0,65.0,22,60,-8.22,0.49,-7.73,...,15,0,4,4,6,1,7,1,274,129
29,SAS,30.0,23.9,22.0,60.0,19,63,-10.04,0.22,-9.82,...,15,0,2,3,10,4,4,1,319,105

In [4]:
team_stats['Rank'] = team_stats['Rk_x'].rank(ascending=True)

def calculate_luxury_tax(total_salary, luxury_cap):
    #luxury_cap = 150
    excess_salary = total_salary - luxury_cap
    tax = 0

    if excess_salary > 20:
        tax += (excess_salary - 20) * 3.75
        excess_salary = 20
    if excess_salary > 15:
        tax += (excess_salary - 15) * 3.25
        excess_salary = 15
    if excess_salary > 10:
        tax += (excess_salary - 10) * 2.50
        excess_salary = 10
    if excess_salary > 5:
        tax += (excess_salary - 5) * 1.75
        excess_salary = 5
    if excess_salary > 0:
        tax += excess_salary * 1.50

    return tax

# Create initial team strategy based on last year's rank
num_teams = len(team_stats)
num_contenders = 16
num_rebuilders = 10 #6
num_tankers = 4 #8

team_stats = team_stats.sort_values(by='Rank')
team_stats['Initial_Strategy'] = ['contend'] * num_contenders + ['rebuild'] * num_rebuilders + ['tank'] * num_tankers
team_stats['Strategy'] = ['contend'] * num_contenders + ['rebuild'] * num_rebuilders + ['tank'] * num_tankers

#divide teams into 2 clusters based on total revenue with 330 as the threshold
team_stats['Revenue_Cluster'] = ['low'] * num_teams
team_stats.loc[team_stats['Total_Revenue'] > 330, 'Revenue_Cluster'] = 'high'

team_stats

,Team,Rk_x,Age,W_x,L_x,PW,PL,MOV_x,SOS,SRS,...,Cluster_4,Cluster_5,Cluster_6,Cluster,Total_Revenue,Total_salary,Rank,Initial_Strategy,Strategy,Revenue_Cluster
0,BOS,1.0,27.4,57.0,25.0,57,25,6.52,-0.15,6.38,...,2,4,5,0,443,178,1.0,contend,contend,high
1,CLE,2.0,25.4,51.0,31.0,55,27,5.38,-0.15,5.23,...,6,2,6,0,348,152,2.0,contend,contend,high
2,PHI,3.0,28.2,54.0,28.0,52,30,4.32,0.06,4.37,...,6,3,7,0,371,150,3.0,contend,contend,high
3,MEM,4.0,24.4,51.0,31.0,51,31,3.94,-0.34,3.60,...,6,1,5,0,258,127,4.0,contend,contend,low
4,MIL,5.0,29.8,58.0,24.0,50,32,3.63,-0.02,3.61,...,5,2,9,0,328,182,5.0,contend,contend,low
5,DEN,6.0,26.6,53.0,29.0,49,33,3.33,-0.29,3.04,...,4,5,5,0,348,162,6.0,contend,contend,high
6,NYK,7.0,24.5,47.0,35.0,48,34,2.93,0.06,2.99,...,3,1,6,0,504,149,7.0,contend,contend,high
7,SAC,8.0,25.4,48.0,34.0,47,35,2.65,-0.35,2.30,...,4,4,7,0,289,139,8.0,contend,contend,low
8,PHO,9.0,28.1,45.0,37.0,46,36,2.07,0.01,2.08,...,8,5,1,0,366,176,9.0,contend,contend,high
9,NOP,10.0,25.9,42.0,40.0,46,36,1.89,-0.26,1.63,...,6,2,3,0,262,148,10.0,contend,contend,low
10,GSW,11.0,27.3,44.0,38.0,45,37,1.80,-0.15,1.66,...,4,3,5,0,765,192,11.0,contend,contend,high
11,TOR,12.0,25.8,41.0,41.0,45,37,1.48,0.12,1.59,...,0,3,9,0,305,151,12.0,contend,contend,low
12,CHI,13.0,27.5,40.0,42.0,44,38,1.29,0.07,1.37,...,5,5,4,0,372,152,13.0,contend,contend,high
13,OKC,14.0,22.8,40.0,42.0,44,38,1.09,-0.12,0.96,...,7,4,4,0,267,149,14.0,contend,contend,low
14,BRK,15.0,28.0,45.0,37.0,43,39,0.85,0.18,1.03,...,8,1,8,2,367,159,15.0,contend,contend,high
15,LAL,16.0,27.9,43.0,39.0,42,40,0.57,-0.15,0.43,...,8,4,7,2,516,169,16.0,contend,contend,high
16,LAC,17.0,29.7,44.0,38.0,42,40,0.50,-0.19,0.31,...,9,3,4,2,425,193,17.0,rebuild,rebuild,high
17,ATL,18.0,24.9,41.0,41.0,42,40,0.29,0.02,0.32,...,3,3,8,2,326,154,18.0,rebuild,rebuild,low
18,DAL,19.0,27.8,38.0,44.0,41,41,0.07,-0.22,-0.14,...,6,2,10,2,429,177,19.0,rebuild,rebuild,high
19,MIN,20.0,25.8,42.0,40.0,41,41,-0.04,-0.18,-0.22,...,3,3,7,2,259,145,20.0,rebuild,rebuild,low
20,MIA,21.0,27.7,44.0,38.0,40,42,-0.32,0.18,-0.13,...,7,5,5,0,371,151,21.0,rebuild,rebuild,high
21,UTA,22.0,26.5,37.0,45.0,39,43,-0.94,-0.09,-1.03,...,7,4,6,2,274,149,22.0,rebuild,rebuild,low
22,WAS,23.0,26.2,35.0,47.0,38,44,-1.21,0.15,-1.06,...,7,3,9,2,323,152,23.0,rebuild,rebuild,low
23,ORL,24.0,23.1,34.0,48.0,35,47,-2.56,0.17,-2.39,...,5,3,6,2,261,126,24.0,rebuild,rebuild,low
24,IND,25.0,24.5,35.0,47.0,33,49,-3.18,0.28,-2.91,...,6,2,6,2,263,125,25.0,rebuild,rebuild,low
25,POR,26.0,25.1,33.0,49.0,31,51,-4.01,0.05,-3.96,...,7,1,9,2,300,145,26.0,rebuild,rebuild,low
26,CHO,27.0,25.3,27.0,55.0,26,56,-6.24,0.35,-5.89,...,4,1,6,1,269,125,27.0,tank,tank,low
27,HOU,28.0,22.1,22.0,60.0,23,59,-7.85,0.24,-7.62,...,2,5,5,1,381,137,28.0,tank,tank,high
28,DET,29.0,24.1,17.0,65.0,22,60,-8.22,0.49,-7.73,...,6,1,7,1,274,129,29.0,tank,tank,low
29,SAS,30.0,23.9,22.0,60.0,19,63,-10.04,0.22,-9.82,...,10,4,4,1,319,105,30.0,tank,tank,low

In [5]:
#creating contracts from pareto distribution
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


# Parameters for Pareto distributions for rich and poor teams
pareto_params = {
    "high": {"alpha": 2.717355987589288, "scale": 1500000, "max_value": max_contract*1000000 },  
    "low": {"alpha": 4.815523238187749, "scale": 1500000, "max_value": max_contract*1000000 }   
}

# Function to sample contracts with truncated Pareto sampling
def sample_truncated_pareto(category, num_contracts=18):
    alpha = pareto_params[category]["alpha"]
    scale = pareto_params[category]["scale"]
    max_value = pareto_params[category]["max_value"]

    # make sure 2 of the contracts are above 30 million for the high revenue teams and 2 above 20 million for the low revenue teams
    if category == 'high':
        initial_samples = (np.random.pareto(alpha, num_contracts * 5) + 1) * scale
        truncated_samples = initial_samples[initial_samples <= max_value]
        while len(truncated_samples) < num_contracts:
            extra_samples = (np.random.pareto(alpha, num_contracts) + 1) * scale
            truncated_samples = np.concatenate((truncated_samples, extra_samples[extra_samples <= max_value]))
        truncated_samples = truncated_samples[:num_contracts]
        truncated_samples[0] = max_value
        truncated_samples[1] = max_value - 5000000
        truncated_samples[2] = max_value - 10000000
        truncated_samples[3] = max_value - 10000000
    else:
        initial_samples = (np.random.pareto(alpha, num_contracts * 5) + 1) * scale
        truncated_samples = initial_samples[initial_samples <= max_value]
        while len(truncated_samples) < num_contracts:
            extra_samples = (np.random.pareto(alpha, num_contracts) + 1) * scale
            truncated_samples = np.concatenate((truncated_samples, extra_samples[extra_samples <= max_value]))
        truncated_samples = truncated_samples[:num_contracts]
        truncated_samples[0] = max_value - 5000000
        truncated_samples[1] = max_value - 10000000
        truncated_samples[2] = max_value - 15000000
        truncated_samples[3] = max_value - 15000000

    # Generate more samples than needed initially
    ##initial_samples = (np.random.pareto(alpha, num_contracts * 5) + 1) * scale

    # Filter samples to apply the max value constraint
    ##truncated_samples = initial_samples[initial_samples <= max_value]

    # Continue generating more samples if not enough are within the max constraint
    ##while len(truncated_samples) < num_contracts:
    ##    extra_samples = (np.random.pareto(alpha, num_contracts) + 1) * scale
    ##    truncated_samples = np.concatenate((truncated_samples, extra_samples[extra_samples <= max_value]))

    # Return only the first `num_contracts` samples after truncation
    return truncated_samples[:num_contracts]

# Create a DataFrame to store contracts for each team
contracts_data = []

# Assign each team as "rich" or "poor"
np.random.seed(55)  # For reproducibility
#choose team categories based on the column called revenue_cluster
team_categories = team_stats['Revenue_Cluster']


for team, category in zip(team_stats['Team'], team_categories):
    contracts = sample_truncated_pareto(category)
    team_row = [team, category] + list(contracts)
    contracts_data.append(team_row)

    

    

# Define column names
columns = ["Team", "Category"] + [f"Contract{i+1}" for i in range(18)]

# Create the DataFrame
contracts_df = pd.DataFrame(contracts_data, columns=columns)

# Display the first few rows of the DataFrame

#create a function to calculate the total salary of a team
def calculate_total_salary(contracts):
    return np.sum(contracts)

# Calculate the total salary for each team
contracts_df['Total_Contract'] = contracts_df[columns[2:]].apply(calculate_total_salary, axis=1)
#divide the total salary by 1000000 to get the total salary in millions
contracts_df['Total_Contract_samp'] = contracts_df['Total_Contract'] / 1000000


contracts_df.head(30)

,Team,Category,Contract1,Contract2,Contract3,Contract4,Contract5,Contract6,Contract7,Contract8,...,Contract11,Contract12,Contract13,Contract14,Contract15,Contract16,Contract17,Contract18,Total_Contract,Total_Contract_samp
0,BOS,high,35000000.0,30000000.0,25000000.0,25000000.0,1.982182e+06,1.697575e+06,3.114237e+06,1.523347e+06,...,1.529430e+06,2.600165e+06,1.505077e+06,2.138083e+06,2.811983e+06,3.482183e+06,7.144162e+06,1.931233e+06,1.505889e+08,150.588899
1,CLE,high,35000000.0,30000000.0,25000000.0,25000000.0,1.727703e+06,3.863463e+06,1.888052e+06,3.095720e+06,...,1.694404e+06,2.057758e+06,1.923181e+06,2.517047e+06,1.539493e+06,3.938489e+06,1.698833e+06,2.010366e+06,1.462659e+08,146.265858
2,PHI,high,35000000.0,30000000.0,25000000.0,25000000.0,2.710860e+06,1.669105e+06,1.634828e+06,1.634436e+06,...,1.514975e+06,1.735237e+06,2.314222e+06,1.610769e+06,4.518230e+06,2.146464e+06,1.533111e+06,1.732464e+06,1.433716e+08,143.371622
3,MEM,low,30000000.0,25000000.0,20000000.0,20000000.0,1.642458e+06,2.642510e+06,1.519098e+06,1.540762e+06,...,1.804395e+06,1.552688e+06,1.527369e+06,1.596654e+06,1.818668e+06,2.065997e+06,1.571744e+06,2.097064e+06,1.211221e+08,121.122065
4,MIL,low,30000000.0,25000000.0,20000000.0,20000000.0,1.714416e+06,1.500656e+06,1.689738e+06,1.585429e+06,...,1.655246e+06,1.594170e+06,1.777164e+06,1.811811e+06,1.554614e+06,1.862792e+06,1.886718e+06,2.502152e+06,1.194085e+08,119.408459
5,DEN,high,35000000.0,30000000.0,25000000.0,25000000.0,2.100196e+06,2.880881e+06,1.816803e+06,4.247849e+06,...,1.528751e+06,1.651525e+06,1.627767e+06,1.825935e+06,1.663923e+06,1.568756e+06,1.787501e+06,1.640702e+06,1.426637e+08,142.663686
6,NYK,high,35000000.0,30000000.0,25000000.0,25000000.0,2.560976e+06,2.025538e+06,5.357574e+06,1.554788e+06,...,2.569881e+06,2.460547e+06,1.903949e+06,4.197584e+06,4.137930e+06,2.669693e+06,2.625803e+06,2.029758e+06,1.527325e+08,152.732460
7,SAC,low,30000000.0,25000000.0,20000000.0,20000000.0,1.565866e+06,1.742962e+06,2.857197e+06,1.653617e+06,...,1.607752e+06,1.582282e+06,1.898108e+06,1.512479e+06,2.540580e+06,4.031659e+06,1.896146e+06,1.786315e+06,1.227456e+08,122.745582
8,PHO,high,35000000.0,30000000.0,25000000.0,25000000.0,1.700340e+06,5.148119e+06,2.319255e+06,2.381987e+06,...,1.686915e+06,1.500313e+06,1.795617e+06,1.924862e+06,1.746086e+06,2.947780e+06,1.591987e+06,1.522168e+06,1.449072e+08,144.907196
9,NOP,low,30000000.0,25000000.0,20000000.0,20000000.0,1.752349e+06,2.020850e+06,3.000041e+06,1.536038e+06,...,1.711812e+06,1.549135e+06,1.589266e+06,1.578429e+06,1.520246e+06,1.804454e+06,2.032237e+06,1.770225e+06,1.199244e+08,119.924446
10,GSW,high,35000000.0,30000000.0,25000000.0,25000000.0,2.299294e+06,2.259683e+06,1.903255e+06,2.492925e+06,...,2.289037e+06,2.604629e+06,2.050488e+06,3.069611e+06,2.492385e+06,2.018458e+06,1.890940e+06,3.397672e+06,1.478533e+08,147.853288
11,TOR,low,30000000.0,25000000.0,20000000.0,20000000.0,1.801703e+06,1.582739e+06,1.802759e+06,1.849075e+06,...,1.608912e+06,2.493958e+06,1.721398e+06,1.521695e+06,1.851579e+06,2.501928e+06,1.568166e+06,1.886171e+06,1.220703e+08,122.070303
12,CHI,high,35000000.0,30000000.0,25000000.0,25000000.0,3.230647e+06,4.322713e+06,3.805838e+06,1.861279e+06,...,1.746598e+06,3.009958e+06,1.503933e+06,2.221114e+06,2.191939e+06,3.488261e+06,1.500309e+06,2.178036e+06,1.493307e+08,149.330665
13,OKC,low,30000000.0,25000000.0,20000000.0,20000000.0,1.661616e+06,1.508422e+06,1.618123e+06,2.714804e+06,...,1.777410e+06,1.673847e+06,1.502577e+06,1.543025e+06,1.724598e+06,1.893717e+06,2.611238e+06,1.660870e+06,1.211872e+08,121.187181
14,BRK,high,35000000.0,30000000.0,25000000.0,25000000.0,1.917567e+06,3.002074e+06,1.660307e+06,1.838574e+06,...,1.814900e+06,1.699586e+06,1.982358e+06,1.549181e+06,1.803491e+06,2.506010e+06,1.874745e+06,1.533139e+06,1.416793e+08,141.679315
15,LAL,high,35000000.0,30000000.0,25000000.0,25000000.0,1.836055e+06,1.666663e+06,2.059136e+06,1.988178e+06,...,1.799959e+06,2.171992e+06,3.049876e+06,1.710734e+06,2.167966e+06,1.577141e+06,1.832867e+06,1.925426e+06,1.465916e+08,146.591641
16,LAC,high,35000000.0,30000000.0,25000000.0,25000000.0,2.085595e+06,1.710304e+06,1.657978e+06,1.921263e+06,...,1.598769e+06,1.707552e+06,1.647651e+06,1.677939e+06,5.962311e+06,2.882700e+06,2.291418e+06,2.008052e+06,1.460868e+08,146.086813
17,ATL,low,30000000.0,25000000.0,20000000.0,20000000.0,1.542346e+06,1.905168e+06,1.538486e+06,1.565438e+06,...,2.801994e+06,1.765023e+06,1.578750e+06,1.521986e+06,1.509112e+06,1.767611e+06,1.524980e+06,2.291109e+06,1.196940e+08,119.693998
18,DAL,high,35000000.0,30000000.0,25000000.0,25000000.0,1.708946e+06,1.532325e+06,3.151637e+06,2.027722e+06,...,2.255424e+06,2.174710e+06,1.944823e+06,1.953820e+06,1.596901e+06,2.377214e+06,2.838641e+06,2.162718e+06,1.445066e+08,144.506642
19,MIN,low,30000000.0,25000000.0,20000000.0,20000000.0,1.581304e+06,1.941396e+06,1.571025e+06,1.566047e+06,...,1.556134e+06,1.648983e+06,2.087156e+06,1.697941e+06,2.434622e+06,1.571105e+06,2.050538e+06,1.671551e+06,1.196978e+08,119.697804
20,MIA,high,35000000.0,30000000.0,25000000.0,25000000.0,4.168296e+06,1.614644e+06,4.606096e+06,1.894839e+06,...,2.185394e+06,1.539625e+06,2.565543e+06,1.663917e+06,2.295299e+06,3.842220e+06,2.506136e+06,2.826688e+06,1.504729e+08,150.472909
21,UTA,low,30000000.0,25000000.0,20000000.0,20000000.0,1.776074e+06,1.640801e+06,1.634912e+06,1.575347e+06,...,1.880332e+06,1.582301e+06,1.595357e+06,3.127317e+06,1.712638e+06,2.399437e+06,1.541453e+06,2.213986e+06,1.217328e+08,121.732825
22,WAS,low,30000000.0,25000000.0,20000000.0,20000000.0,1.819946e+06,1.976200e+06,1.546296e+06,2.207783e+06,...,1.752625e+06,1.846732e+06,1.621227e+06,1.735182e+06,1.694285e+06,1.907422e+06,1.979468e+06,1.697741e+06,1.205008e+08,120.500753
23,ORL,low,30000000.0,25000000.0,20000000.0,20000000.0,1.535172e+06,1.528294e+06,1.782874e+06,1.585059e+06,...,1.652972e+06,1.798508e+06,1.526409e+06,1.813142e+06,1.560369e+06,1.628746e+06,1.820753e+06,1.596756e+06,1.178644e+08,117.864430
24,IND,low,30000000.0,25000000.0,20000000.0,20000000.0,1.552438e+06,1.639388e+06,1.546563e+06,3.405345e+06,...,1.551472e+06,1.782110e+06,1.934081e+06,1.647319e+06,1.673188e+06,1.737967e+06,1.783309e+06,1.589462e+06,1.207171e+08,120.717067
25,POR,low,30000000.0,25000000.0,20000000.0,20000000.0,1.699302e+06,1.837752e+06,2.336413e+06,1.598806e+06,...,2.034355e+06,1.574024e+06,1.571470e+06,1.658736e+06,2.021323e+06,2.632138e+06,2.395163e+06,1.500759e+06,1.226964e+08,122.696373
26,CHO,low,30000000.0,25000000.0,20000000.0,20000000.0,2.443761e+06,2.118217e+06,1.542900e+06,1.789716e+06,...,1.602335e+06,2.379321e+06,1.751730e+06,2.794837e+06,1.976310e+06,2.030188e+06,1.595413e+06,4.671201e+06,1.252162e+08,125.216224
27,HOU,high,35000000.0,30000000.0,25000000.0,25000000.0,1.900097e+06,1.513433e+06,1.558759e+06,1.676251e+06,...,3.127210e+06,5.052950e+06,1.684856e+06,4.701318e+06,1.562285e+06,1.791277e+06,1.524900e+06,2.179355e+06,1.467310e+08,146.731006
28,DET,low,30000000.0,25000000.0,20000000.0,20000000.0,2.747984e+06,1.708931e+06,1.680903e+06,2.837559e+06,...,1.561515e+06,1.794629e+06,1.946055e+06,1.878020e+06,1.520684e+06,1.735528e+06,1.576447e+06,1.532010e+06,1.215174e+08,121.517431
29,SAS,low,30000000.0,25000000.0,20000000.0,20000000.0,1.523950e+06,1.542402e+06,1.505012e+06,2.179914e+06,...,1.723801e+06,2.042664e+06,1.950820e+06,1.567917e+06,1.666543e+06,1.730737e+06,1.586272e+06,2.267181e+06,1.200283e+08,120.028307

In [6]:
#add the total salary to the team_stats dataframe
team_stats = team_stats.merge(contracts_df[['Team', 'Total_Contract_samp']], on='Team')
team_stats.head(15)

,Team,Rk_x,Age,W_x,L_x,PW,PL,MOV_x,SOS,SRS,...,Cluster_5,Cluster_6,Cluster,Total_Revenue,Total_salary,Rank,Initial_Strategy,Strategy,Revenue_Cluster,Total_Contract_samp
0,BOS,1.0,27.4,57.0,25.0,57,25,6.52,-0.15,6.38,...,4,5,0,443,178,1.0,contend,contend,high,150.588899
1,CLE,2.0,25.4,51.0,31.0,55,27,5.38,-0.15,5.23,...,2,6,0,348,152,2.0,contend,contend,high,146.265858
2,PHI,3.0,28.2,54.0,28.0,52,30,4.32,0.06,4.37,...,3,7,0,371,150,3.0,contend,contend,high,143.371622
3,MEM,4.0,24.4,51.0,31.0,51,31,3.94,-0.34,3.60,...,1,5,0,258,127,4.0,contend,contend,low,121.122065
4,MIL,5.0,29.8,58.0,24.0,50,32,3.63,-0.02,3.61,...,2,9,0,328,182,5.0,contend,contend,low,119.408459
5,DEN,6.0,26.6,53.0,29.0,49,33,3.33,-0.29,3.04,...,5,5,0,348,162,6.0,contend,contend,high,142.663686
6,NYK,7.0,24.5,47.0,35.0,48,34,2.93,0.06,2.99,...,1,6,0,504,149,7.0,contend,contend,high,152.732460
7,SAC,8.0,25.4,48.0,34.0,47,35,2.65,-0.35,2.30,...,4,7,0,289,139,8.0,contend,contend,low,122.745582
8,PHO,9.0,28.1,45.0,37.0,46,36,2.07,0.01,2.08,...,5,1,0,366,176,9.0,contend,contend,high,144.907196
9,NOP,10.0,25.9,42.0,40.0,46,36,1.89,-0.26,1.63,...,2,3,0,262,148,10.0,contend,contend,low,119.924446
10,GSW,11.0,27.3,44.0,38.0,45,37,1.80,-0.15,1.66,...,3,5,0,765,192,11.0,contend,contend,high,147.853288
11,TOR,12.0,25.8,41.0,41.0,45,37,1.48,0.12,1.59,...,3,9,0,305,151,12.0,contend,contend,low,122.070303
12,CHI,13.0,27.5,40.0,42.0,44,38,1.29,0.07,1.37,...,5,4,0,372,152,13.0,contend,contend,high,149.330665
13,OKC,14.0,22.8,40.0,42.0,44,38,1.09,-0.12,0.96,...,4,4,0,267,149,14.0,contend,contend,low,121.187181
14,BRK,15.0,28.0,45.0,37.0,43,39,0.85,0.18,1.03,...,1,8,2,367,159,15.0,contend,contend,high,141.679315

In [7]:
def calculate_team_payoffs(team_stats, luxury_cap, max_contract, rookie_contract): 
    num_teams = len(team_stats)
    #calculate the number of contenders, rebuilders and tankers
    num_contenders = team_stats[team_stats['Strategy'] == 'contend'].shape[0]
    num_tankers = team_stats[team_stats['Strategy'] == 'tank'].shape[0]
    strategies = ['contend', 'rebuild', 'tank']
    payoffs = {team: {strategy: 0 for strategy in strategies} for team in team_stats['Team']}
    
    for team in team_stats['Team']:
        total_salary = team_stats.loc[team_stats['Team'] == team, 'Total_Contract_samp'].values[0]
        
        # Calculate the luxury tax
        luxury_tax = calculate_luxury_tax(total_salary, luxury_cap)        
        # Calculate the rank influence factor
        rank = team_stats.loc[team_stats['Team'] == team, 'Rank'].values[0]
        rank_influence = rank 
        
        
        
        for strategy in strategies:
            if strategy == 'contend':
                # total salary/luxury tax + (30-rank influence)/num_contenders!!! <- ezeket sÃºlyozni prÃ³bÃ¡lkozva
                
                if luxury_tax == 0:
                    payoffs[team][strategy] = (
                        (30- rank_influence)/num_contenders
                    )
                else:
                    payoffs[team][strategy] = (
                    total_salary/luxury_tax + (30-rank_influence)/num_contenders


                #rank, num contender, luxury tax(csapat pÃ©nzÃ©vel arÃ¡nyosÃ­tva: tavalyi total salary), #18-as lÃ©tszÃ¡mmal mintavÃ©t max contract alapjÃ¡n; total_salary/18; (hÃ¡nyan max contract felett?)
                #rank influence/num_contenders
                #num_contenders = sum(1 for t in team_stats['Team'] if payoffs[t]['contend'] > 0)
                )
                
            elif strategy == 'rebuild':

                # ((total_salary/18) / rookie_salary)
                payoffs[team][strategy] = (
                    (total_salary/18) / rookie_contract 
                    + ((rank_influence/num_contenders) + (rank_influence/num_tankers)/2)
                    
                )
                
            elif strategy == 'tank':

                
                #num_tankers = sum(1 for t in team_stats['Team'] if payoffs[t]['tank'] > payoffs[t]['rebuild'] and payoffs[t]['tank'] > payoffs[t]['contend'])
                if luxury_tax == 0:
                    payoffs[team][strategy] = (
                        rank_influence/num_tankers
                    )
                else:
                    payoffs[team][strategy] = (
                   
                    total_salary/luxury_tax + rank_influence/num_tankers
                )
    
    return payoffs

# Calculate payoffs for each team
team_payoffs = calculate_team_payoffs(team_stats, luxury_cap, max_contract, rookie_contract)

for team, payoff in team_payoffs.items():
    print(f"Team: {team}, Payoffs: {payoff}")

Team: BOS, Payoffs: {'contend': 2.755399229522515, 'rebuild': 0.6522805510087075, 'tank': 1.192899229522515}
Team: CLE, Payoffs: {'contend': 2.769295821264224, 'rebuild': 0.8264378318714203, 'tank': 1.5192958212642238}
Team: PHI, Payoffs: {'contend': 2.7683786920110833, 'rebuild': 1.0050050062170497, 'tank': 1.8308786920110833}
Team: MEM, Payoffs: {'contend': 4.086443222563465, 'rebuild': 1.123833533068959, 'tank': 3.4614432225634646}
Team: MIL, Payoffs: {'contend': 4.334445508082185, 'rebuild': 1.3060446262519185, 'tank': 4.021945508082185}
Team: DEN, Payoffs: {'contend': 2.597507325979765, 'rebuild': 1.5653200195198016, 'tank': 2.597507325979765}
Team: NYK, Payoffs: {'contend': 2.3479944411817564, 'rebuild': 1.7838964806646784, 'tank': 2.6604944411817564}
Team: SAC, Payoffs: {'contend': 3.5947941017794025, 'rebuild': 1.8788443877022758, 'tank': 4.219794101779403}
Team: PHO, Payoffs: {'contend': 2.3595023040675684, 'rebuild': 2.134744430851518, 'tank': 3.2970023040675684}
Team: NOP, Payoffs: {'contend': 3.9296095131693187, 'rebuild': 2.245137177956602, 'tank': 5.179609513169319}
Team: GSW, Payoffs: {'contend': 2.176817207295276, 'rebuild': 2.5188373081336115, 'tank': 3.739317207295276}
Team: TOR, Payoffs: {'contend': 3.438530934792078, 'rebuild': 2.6267601937622844, 'tank': 5.3135309347920785}
Team: CHI, Payoffs: {'contend': 2.025985839325937, 'rebuild': 2.8983971151243284, 'tank': 4.213485839325937}
Team: OKC, Payoffs: {'contend': 3.4506058281555414, 'rebuild': 2.9990345078240597, 'tank': 5.950605828155542}
Team: BRK, Payoffs: {'contend': 2.0592909539033277, 'rebuild': 3.249781835575193, 'tank': 4.871790953903328}
Team: LAL, Payoffs: {'contend': 1.887942265836534, 'rebuild': 3.4524433363774714, 'tank': 5.012942265836534}
Team: LAC, Payoffs: {'contend': 1.8353338932741294, 'rebuild': 3.6383852263024163, 'tank': 5.27283389327413}
Team: ATL, Payoffs: {'contend': 3.469978567259747, 'rebuild': 3.744425919295754, 'tank': 7.219978567259747}
Team: DAL, Payoffs: {'contend': 1.7430642138442267, 'rebuild': 4.00850815303192, 'tank': 5.805564213844226}
Team: MIN, Payoffs: {'contend': 3.344300676661646, 'rebuild': 4.119437666414208, 'tank': 7.719300676661646}
Team: MIA, Payoffs: {'contend': 1.5072459629816015, 'rebuild': 4.401922557516937, 'tank': 6.194745962981601}
Team: UTA, Payoffs: {'contend': 2.863831623257016, 'rebuild': 4.500718596643001, 'tank': 7.863831623257016}
Team: WAS, Payoffs: {'contend': 3.0080279021043053, 'rebuild': 4.684415903985426, 'tank': 8.320527902104306}
Team: ORL, Payoffs: {'contend': 3.471854766647304, 'rebuild': 4.863779106108314, 'tank': 9.096854766647304}
Team: IND, Payoffs: {'contend': 2.8438398766608834, 'rebuild': 5.0600835388361025, 'tank': 8.781339876660883}
Team: POR, Payoffs: {'contend': 2.4763338454375408, 'rebuild': 5.253692509550512, 'tank': 8.72633384543754}
Team: CHO, Payoffs: {'contend': 2.1270074019031577, 'rebuild': 5.448969825658362, 'tank': 8.689507401903157}
Team: HOU, Payoffs: {'contend': 1.1352569549886027, 'rebuild': 5.702873475646763, 'tank': 8.010256954988602}
Team: DET, Payoffs: {'contend': 2.4597490071237957, 'rebuild': 5.812553799705835, 'tank': 9.647249007123795}
Team: SAS, Payoffs: {'contend': 2.661018627000879, 'rebuild': 5.99545773708076, 'tank': 10.161018627000878}

In [8]:
#print the payoffs for each team, only the highest payoff is displayed
for team, payoff in team_payoffs.items():
    max_payoff = max(payoff.values())
    max_strategy = [strategy for strategy, value in payoff.items() if value == max_payoff][0]
    print(f"Team: {team}, Strategy: {max_strategy}, Payoff: {max_payoff}")

Team: BOS, Strategy: contend, Payoff: 2.755399229522515
Team: CLE, Strategy: contend, Payoff: 2.769295821264224
Team: PHI, Strategy: contend, Payoff: 2.7683786920110833
Team: MEM, Strategy: contend, Payoff: 4.086443222563465
Team: MIL, Strategy: contend, Payoff: 4.334445508082185
Team: DEN, Strategy: contend, Payoff: 2.597507325979765
Team: NYK, Strategy: tank, Payoff: 2.6604944411817564
Team: SAC, Strategy: tank, Payoff: 4.219794101779403
Team: PHO, Strategy: tank, Payoff: 3.2970023040675684
Team: NOP, Strategy: tank, Payoff: 5.179609513169319
Team: GSW, Strategy: tank, Payoff: 3.739317207295276
Team: TOR, Strategy: tank, Payoff: 5.3135309347920785
Team: CHI, Strategy: tank, Payoff: 4.213485839325937
Team: OKC, Strategy: tank, Payoff: 5.950605828155542
Team: BRK, Strategy: tank, Payoff: 4.871790953903328
Team: LAL, Strategy: tank, Payoff: 5.012942265836534
Team: LAC, Strategy: tank, Payoff: 5.27283389327413
Team: ATL, Strategy: tank, Payoff: 7.219978567259747
Team: DAL, Strategy: tank, Payoff: 5.805564213844226
Team: MIN, Strategy: tank, Payoff: 7.719300676661646
Team: MIA, Strategy: tank, Payoff: 6.194745962981601
Team: UTA, Strategy: tank, Payoff: 7.863831623257016
Team: WAS, Strategy: tank, Payoff: 8.320527902104306
Team: ORL, Strategy: tank, Payoff: 9.096854766647304
Team: IND, Strategy: tank, Payoff: 8.781339876660883
Team: POR, Strategy: tank, Payoff: 8.72633384543754
Team: CHO, Strategy: tank, Payoff: 8.689507401903157
Team: HOU, Strategy: tank, Payoff: 8.010256954988602
Team: DET, Strategy: tank, Payoff: 9.647249007123795
Team: SAS, Strategy: tank, Payoff: 10.161018627000878

In [9]:
import numpy as np

previous_strategy = team_stats['Strategy'].copy()
convergence_threshold = 5  # Stop if fewer than this number of teams change strategies
max_iterations = 100       # Limit the number of iterations to avoid infinite loops
iteration = 0

while iteration < max_iterations:
    # Calculate payoffs for each team
    team_payoffs = calculate_team_payoffs(team_stats, 150, 37, 8)
    
    # Track the number of teams changing strategies
    strategy_changes = 0

    # Update the Strategy column with the best strategy for each team based on a game-theoretical approach
    for team, payoff in team_payoffs.items():
        max_payoff = max(payoff.values())
        # Choose strategy with highest payoff or close within a small tolerance
        max_strategy = [
            strategy for strategy, value in payoff.items() if np.isclose(value, max_payoff, atol=0.1)
        ][0]

        # Check if the team's strategy is changing
        current_strategy = team_stats.loc[team_stats['Team'] == team, 'Strategy'].values[0]
        if current_strategy != max_strategy:
            team_stats.loc[team_stats['Team'] == team, 'Strategy'] = max_strategy
            strategy_changes += 1

    # Fix the strategy for the first and last team (e.g., BOS as contender and SAS as tanker)
    team_stats.loc[team_stats['Team'] == 'BOS', 'Strategy'] = 'contend'
    team_stats.loc[team_stats['Team'] == 'SAS', 'Strategy'] = 'tank'

    # Check for convergence
    if strategy_changes < convergence_threshold:
        print(f"Converged after {iteration} iterations with {strategy_changes} changes.")
        break

    # Update previous_strategy for the next iteration and increment iteration counter
    previous_strategy = team_stats['Strategy'].copy()
    iteration += 1

#display the final values for each strategy for each team
for team, payoff in team_payoffs.items():
    print(f"Team: {team}, Payoffs: {payoff}")

# Display the final team_stats DataFrame
team_stats

Team: BOS, Payoffs: {'contend': 199.4752082838079, 'rebuild': 2.063613382626735, 'tank': 170.51092256952217}
Team: CLE, Payoffs: {'contend': 28.0, 'rebuild': 3.0514494074249816, 'tank': 0.07142857142857142}
Team: PHI, Payoffs: {'contend': 27.0, 'rebuild': 4.04920769255979, 'tank': 0.10714285714285714}
Team: MEM, Payoffs: {'contend': 26.0, 'rebuild': 4.912554020833729, 'tank': 0.14285714285714285}
Team: MIL, Payoffs: {'contend': 25.0, 'rebuild': 5.918511123352531, 'tank': 0.17857142857142858}
Team: DEN, Payoffs: {'contend': 24.0, 'rebuild': 7.097862901062411, 'tank': 0.21428571428571427}
Team: NYK, Payoffs: {'contend': 60.26372927149865, 'rebuild': 8.185642081495526, 'tank': 37.51372927149865}
Team: SAC, Payoffs: {'contend': 22.0, 'rebuild': 8.995257015187264, 'tank': 0.2857142857142857}
Team: PHO, Payoffs: {'contend': 21.0, 'rebuild': 10.167014255130201, 'tank': 0.32142857142857145}
Team: NOP, Payoffs: {'contend': 20.0, 'rebuild': 11.011380078973783, 'tank': 0.35714285714285715}
Team: GSW, Payoffs: {'contend': 19.0, 'rebuild': 12.223187514729197, 'tank': 0.39285714285714285}
Team: TOR, Payoffs: {'contend': 18.0, 'rebuild': 13.061996150250852, 'tank': 0.42857142857142855}
Team: CHI, Payoffs: {'contend': 17.0, 'rebuild': 14.269161366172597, 'tank': 0.4642857142857143}
Team: OKC, Payoffs: {'contend': 16.0, 'rebuild': 15.091577642604134, 'tank': 0.5}
Team: BRK, Payoffs: {'contend': 15.0, 'rebuild': 16.251741272901327, 'tank': 0.5357142857142857}
Team: LAL, Payoffs: {'contend': 14.0, 'rebuild': 17.303711792563597, 'tank': 0.5714285714285714}
Team: LAC, Payoffs: {'contend': 13.0, 'rebuild': 18.318063187751864, 'tank': 0.6071428571428571}
Team: ATL, Payoffs: {'contend': 12.0, 'rebuild': 19.15263688984402, 'tank': 0.6428571428571429}
Team: DAL, Payoffs: {'contend': 11.0, 'rebuild': 20.342804058607534, 'tank': 0.6785714285714286}
Team: MIN, Payoffs: {'contend': 10.0, 'rebuild': 21.188377606574825, 'tank': 0.7142857142857143}
Team: MIA, Payoffs: {'contend': 221.12400217689395, 'rebuild': 22.419950754413108, 'tank': 212.87400217689395}
Team: UTA, Payoffs: {'contend': 8.0, 'rebuild': 23.238223985303893, 'tank': 0.7857142857142857}
Team: WAS, Payoffs: {'contend': 7.0, 'rebuild': 24.24752506968149, 'tank': 0.8214285714285714}
Team: ORL, Payoffs: {'contend': 6.0, 'rebuild': 25.247074417315133, 'tank': 0.8571428571428571}
Team: IND, Payoffs: {'contend': 5.0, 'rebuild': 26.284741533809804, 'tank': 0.8928571428571429}
Team: POR, Payoffs: {'contend': 4.0, 'rebuild': 27.316343860774367, 'tank': 0.9285714285714286}
Team: CHO, Payoffs: {'contend': 3.0, 'rebuild': 28.35169996487417, 'tank': 0.9642857142857143}
Team: HOU, Payoffs: {'contend': 2.0, 'rebuild': 29.51896532020522, 'tank': 1.0}
Team: DET, Payoffs: {'contend': 1.0, 'rebuild': 30.361728192195272, 'tank': 1.0357142857142858}
Team: SAS, Payoffs: {'contend': 0.0, 'rebuild': 31.369244194145995, 'tank': 1.0714285714285714}

,Team,Rk_x,Age,W_x,L_x,PW,PL,MOV_x,SOS,SRS,...,Cluster_5,Cluster_6,Cluster,Total_Revenue,Total_salary,Rank,Initial_Strategy,Strategy,Revenue_Cluster,Total_Contract_samp
0,BOS,1.0,27.4,57.0,25.0,57,25,6.52,-0.15,6.38,...,4,5,0,443,178,1.0,contend,contend,high,150.588899
1,CLE,2.0,25.4,51.0,31.0,55,27,5.38,-0.15,5.23,...,2,6,0,348,152,2.0,contend,contend,high,146.265858
2,PHI,3.0,28.2,54.0,28.0,52,30,4.32,0.06,4.37,...,3,7,0,371,150,3.0,contend,contend,high,143.371622
3,MEM,4.0,24.4,51.0,31.0,51,31,3.94,-0.34,3.60,...,1,5,0,258,127,4.0,contend,contend,low,121.122065
4,MIL,5.0,29.8,58.0,24.0,50,32,3.63,-0.02,3.61,...,2,9,0,328,182,5.0,contend,contend,low,119.408459
5,DEN,6.0,26.6,53.0,29.0,49,33,3.33,-0.29,3.04,...,5,5,0,348,162,6.0,contend,contend,high,142.663686
6,NYK,7.0,24.5,47.0,35.0,48,34,2.93,0.06,2.99,...,1,6,0,504,149,7.0,contend,contend,high,152.732460
7,SAC,8.0,25.4,48.0,34.0,47,35,2.65,-0.35,2.30,...,4,7,0,289,139,8.0,contend,contend,low,122.745582
8,PHO,9.0,28.1,45.0,37.0,46,36,2.07,0.01,2.08,...,5,1,0,366,176,9.0,contend,contend,high,144.907196
9,NOP,10.0,25.9,42.0,40.0,46,36,1.89,-0.26,1.63,...,2,3,0,262,148,10.0,contend,contend,low,119.924446
10,GSW,11.0,27.3,44.0,38.0,45,37,1.80,-0.15,1.66,...,3,5,0,765,192,11.0,contend,contend,high,147.853288
11,TOR,12.0,25.8,41.0,41.0,45,37,1.48,0.12,1.59,...,3,9,0,305,151,12.0,contend,contend,low,122.070303
12,CHI,13.0,27.5,40.0,42.0,44,38,1.29,0.07,1.37,...,5,4,0,372,152,13.0,contend,contend,high,149.330665
13,OKC,14.0,22.8,40.0,42.0,44,38,1.09,-0.12,0.96,...,4,4,0,267,149,14.0,contend,contend,low,121.187181
14,BRK,15.0,28.0,45.0,37.0,43,39,0.85,0.18,1.03,...,1,8,2,367,159,15.0,contend,rebuild,high,141.679315
15,LAL,16.0,27.9,43.0,39.0,42,40,0.57,-0.15,0.43,...,4,7,2,516,169,16.0,contend,rebuild,high,146.591641
16,LAC,17.0,29.7,44.0,38.0,42,40,0.50,-0.19,0.31,...,3,4,2,425,193,17.0,rebuild,rebuild,high,146.086813
17,ATL,18.0,24.9,41.0,41.0,42,40,0.29,0.02,0.32,...,3,8,2,326,154,18.0,rebuild,rebuild,low,119.693998
18,DAL,19.0,27.8,38.0,44.0,41,41,0.07,-0.22,-0.14,...,2,10,2,429,177,19.0,rebuild,rebuild,high,144.506642
19,MIN,20.0,25.8,42.0,40.0,41,41,-0.04,-0.18,-0.22,...,3,7,2,259,145,20.0,rebuild,rebuild,low,119.697804
20,MIA,21.0,27.7,44.0,38.0,40,42,-0.32,0.18,-0.13,...,5,5,0,371,151,21.0,rebuild,contend,high,150.472909
21,UTA,22.0,26.5,37.0,45.0,39,43,-0.94,-0.09,-1.03,...,4,6,2,274,149,22.0,rebuild,rebuild,low,121.732825
22,WAS,23.0,26.2,35.0,47.0,38,44,-1.21,0.15,-1.06,...,3,9,2,323,152,23.0,rebuild,rebuild,low,120.500753
23,ORL,24.0,23.1,34.0,48.0,35,47,-2.56,0.17,-2.39,...,3,6,2,261,126,24.0,rebuild,rebuild,low,117.864430
24,IND,25.0,24.5,35.0,47.0,33,49,-3.18,0.28,-2.91,...,2,6,2,263,125,25.0,rebuild,rebuild,low,120.717067
25,POR,26.0,25.1,33.0,49.0,31,51,-4.01,0.05,-3.96,...,1,9,2,300,145,26.0,rebuild,rebuild,low,122.696373
26,CHO,27.0,25.3,27.0,55.0,26,56,-6.24,0.35,-5.89,...,1,6,1,269,125,27.0,tank,rebuild,low,125.216224
27,HOU,28.0,22.1,22.0,60.0,23,59,-7.85,0.24,-7.62,...,5,5,1,381,137,28.0,tank,rebuild,high,146.731006
28,DET,29.0,24.1,17.0,65.0,22,60,-8.22,0.49,-7.73,...,1,7,1,274,129,29.0,tank,rebuild,low,121.517431
29,SAS,30.0,23.9,22.0,60.0,19,63,-10.04,0.22,-9.82,...,4,4,1,319,105,30.0,tank,tank,low,120.028307

In [10]:
#print only team name and strategy
team_stats[['Team', 'Strategy']]

   Team Strategy
0   BOS  contend
1   CLE  contend
2   PHI  contend
3   MEM  contend
4   MIL  contend
5   DEN  contend
6   NYK  contend
7   SAC  contend
8   PHO  contend
9   NOP  contend
10  GSW  contend
11  TOR  contend
12  CHI  contend
13  OKC  contend
14  BRK  rebuild
15  LAL  rebuild
16  LAC  rebuild
17  ATL  rebuild
18  DAL  rebuild
19  MIN  rebuild
20  MIA  contend
21  UTA  rebuild
22  WAS  rebuild
23  ORL  rebuild
24  IND  rebuild
25  POR  rebuild
26  CHO  rebuild
27  HOU  rebuild
28  DET  rebuild
29  SAS     tank

In [11]:
tmr = pd.read_csv(r'C:\Users\krist\Documents\BME\2024_2025_1\Diplomatervezes_2\data\perf_model_input.csv')
tmr23 = pd.read_csv(r'C:\Users\krist\Documents\BME\2024_2025_1\Diplomatervezes_2\data\team_ratings\tmr_2022_23.csv')
tmr.head(2)

,Team,Rk,W,Season,Salary,Adjusted Salary,Status,Salary_Rank
0,Miami Heat,1,58,2011,66205855.0,92675428.0,Contending,19.0
1,Chicago Bulls,2,62,2011,54538076.0,76342791.0,Contending,26.0

In [12]:
from catboost import CatBoostRegressor

# Prepare the data
X_train = tmr[[ 'Adjusted Salary','Salary_Rank', 'Status']]
y_train = tmr['W'].astype(int)

# Encode the categorical feature 'Status'
X_train['Status'] = X_train['Status'].astype('category').cat.codes

# Initialize CatBoostRegressor
model = CatBoostRegressor(iterations=1000, learning_rate=0.1, depth=6, verbose=0)

# Train the model
model.fit(X_train, y_train)

# Predict the W/L% for the tmr dataset
X_tmr = tmr[['Adjusted Salary', 'Salary_Rank', 'Status']]
X_tmr['Status'] = X_tmr['Status'].astype('category').cat.codes
tmr['Predicted W'] = model.predict(X_tmr)

print(tmr[['Team', 'Season', 'W', 'Predicted W']].head())

C:\Users\krist\AppData\Local\Temp\ipykernel_12476\2042513004.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Status'] = X_train['Status'].astype('category').cat.codes

                 Team  Season   W  Predicted W
0          Miami Heat    2011  58    56.248369
1       Chicago Bulls    2011  62    60.809729
2  Los Angeles Lakers    2011  57    55.713899
3   San Antonio Spurs    2011  61    56.850272
4       Orlando Magic    2011  52    53.645965

C:\Users\krist\AppData\Local\Temp\ipykernel_12476\2042513004.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_tmr['Status'] = X_tmr['Status'].astype('category').cat.codes

from catboost import CatBoostRegressor

# Prepare the data
X_train = tmr[[ 'Rk','Adjusted Salary','Salary_Rank', 'Status']]
y_train = tmr['W'].astype(int)

# Encode the categorical feature 'Status'
X_train['Status'] = X_train['Status'].astype('category').cat.codes

# Initialize CatBoostRegressor
model = CatBoostRegressor(iterations=1000, learning_rate=0.1, depth=6, verbose=0)

# Train the model
model.fit(X_train, y_train)

# Predict the W/L% for the tmr dataset
X_tmr = tmr[['Rk','Adjusted Salary', 'Salary_Rank', 'Status']]
X_tmr['Status'] = X_tmr['Status'].astype('category').cat.codes
tmr['Predicted W'] = model.predict(X_tmr)

print(tmr[['Team', 'Season', 'W', 'Predicted W']].head())

In [13]:

# Add the contracts to the teams
#contracts = [158.588899, 154.265858, 151.371622, 129.122065, 127.408459, 150.663686, 160.732460, 130.745582, 152.907196, 127.924446,155.853288, 130.070303, 157.330665, 129.187181, 149.679315, 154.591641, 154.086813, 127.693998, 152.506642, 127.697804,158.472909, 129.732825, 128.500753, 125.864430, 128.717067, 130.696373, 133.216224, 154.731006, 129.517431, 128.028307]

# Define the status data
##status_data = ['contend', 'contend', 'contend', 'contend', 'contend', 'contend', 'contend', 'contend', 'contend', 'contend','contend', 'contend', 'contend', 'rebuild', 'rebuild', 'contend', 'contend', 'rebuild', 'contend', 'rebuild','contend', 'rebuild', 'rebuild', 'rebuild', 'rebuild', 'rebuild', 'rebuild', 'tank', 'rebuild', 'tank']

# Add a new column for the statuses in tmr23
tmr23['Status'] = team_stats['Strategy']#status_data



#a new column for the contracts in tmr23
tmr23['Adjusted Salary'] =  team_stats['Total_Contract_samp'] #contracts


tmr23['Salary_Rank'] = tmr23['Adjusted Salary'].rank(ascending=False)
#tmr23

In [14]:
#fit the model on the tmr23 dataset
X_tmr23 = tmr23[['Adjusted Salary', 'Salary_Rank', 'Status']]
X_tmr23['Status'] = X_tmr23['Status'].astype('category').cat.codes
tmr23['Predicted W'] = model.predict(X_tmr23)

print(tmr23[['Team', 'W', 'Predicted W']].head(5))

                  Team   W  Predicted W
0       Boston Celtics  57    55.794035
1  Cleveland Cavaliers  51    56.447243
2   Philadelphia 76ers  54    53.217688
3    Memphis Grizzlies  51    53.324442
4      Milwaukee Bucks  58    45.944180

C:\Users\krist\AppData\Local\Temp\ipykernel_12476\3121677578.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_tmr23['Status'] = X_tmr23['Status'].astype('category').cat.codes

#fit the model on the tmr23 dataset
X_tmr23 = tmr23[['Rk','Adjusted Salary', 'Salary_Rank', 'Status']]
X_tmr23['Status'] = X_tmr23['Status'].astype('category').cat.codes
tmr23['Predicted W'] = model.predict(X_tmr23)

print(tmr23[['Team', 'W', 'Predicted W']].head(5))

In [15]:
# Normalize the Predicted W so that their sum is 1230
total_sum = tmr23['Predicted W'].sum()

tmr23['Normalized Predicted W'] = tmr23['Predicted W'] * (1230 / total_sum)

# Print the updated dataframe
tmr23[['Team', 'W', 'Predicted W', 'Normalized Predicted W']].head(5)

                  Team   W  Predicted W  Normalized Predicted W
0       Boston Celtics  57    55.794035               49.314317
1  Cleveland Cavaliers  51    56.447243               49.891664
2   Philadelphia 76ers  54    53.217688               47.037178
3    Memphis Grizzlies  51    53.324442               47.131534
4      Milwaukee Bucks  58    45.944180               40.608389

In [16]:
player_cl = pd.read_csv(r'C:\Users\krist\Documents\BME\2024_2025_1\Diplomatervezes_2\data\ML_outputs\player_clusters.csv')
team_cl = pd.read_csv(r'C:\Users\krist\Documents\BME\2024_2025_1\Diplomatervezes_2\data\ML_outputs\team_clusters.csv')
team_cl.head()

,Team,Rk_x,Age,W_x,L_x,PW,PL,MOV_x,SOS,SRS,...,Acquired via Expansion,Acquired via Free Agency,Total Roster,Cluster_1,Cluster_2,Cluster_3,Cluster_4,Cluster_5,Cluster_6,Cluster
0,BOS,1.0,27.4,57.0,25.0,57,25,6.52,-0.15,6.38,...,0,5,15,2,2,3,2,4,5,0
1,CLE,2.0,25.4,51.0,31.0,55,27,5.38,-0.15,5.23,...,0,7,15,1,2,1,6,2,6,0
2,PHI,3.0,28.2,54.0,28.0,52,30,4.32,0.06,4.37,...,0,7,15,2,0,3,6,3,7,0
3,MEM,4.0,24.4,51.0,31.0,51,31,3.94,-0.34,3.60,...,0,3,15,1,4,2,6,1,5,0
4,MIL,5.0,29.8,58.0,24.0,50,32,3.63,-0.02,3.61,...,0,9,15,1,2,2,5,2,9,0

In [17]:
#calculate a team star power by the number of players in the first and second cluster, with the first cluster being worth 2 points and the second cluster being worth 1 point
team_star_power_df = pd.DataFrame(None)
team_star_power_df['Team'] = team_cl['Team']
team_star_power_df['Star Power'] = (2 * team_cl['Cluster_1'] + team_cl['Cluster_2'])/2
team_star_power_df['Perf'] = tmr23['Normalized Predicted W']
team_star_power_df.head()

  Team  Star Power       Perf
0  BOS         3.0  49.314317
1  CLE         2.0  49.891664
2  PHI         2.0  47.037178
3  MEM         3.0  47.131534
4  MIL         2.0  40.608389

In [18]:
#Ã¡tÃ­rni
data = {


    'Team_full': ['Atlanta Hawks', 'Boston Celtics', 'Brooklyn Nets', 'Charlotte Hornets', 'Chicago Bulls',
             'Cleveland Cavaliers', 'Dallas Mavericks', 'Denver Nuggets', 'Detroit Pistons', 'Golden State Warriors',
             'Houston Rockets', 'Indiana Pacers', 'LA Clippers', 'Los Angeles Lakers', 'Memphis Grizzlies',
             'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves', 'New Orleans Pelicans', 'New York Knicks',
             'Oklahoma City Thunder', 'Orlando Magic', 'Philadelphia 76ers', 'Phoenix Suns', 'Portland Trail Blazers',
             'Sacramento Kings', 'San Antonio Spurs', 'Toronto Raptors', 'Utah Jazz', 'Washington Wizards'],
    'Total_Revenue': [326, 443, 367, 269, 372, 348, 429, 348, 274, 765, 381, 263, 425, 516, 258,
                      371, 328, 259, 262, 504, 267, 261, 371, 366, 300, 289, 319, 305, 274, 323],

    'Team': ['ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS']

}

# Create a DataFrame
team_revenues = pd.DataFrame(data)

#merge the team_star_power_df and team_revenues dataframes
#team_inc_df = team_star_power_df.merge(team_revenues, on='Team')

#add the revenues to the team_star_power_df
team_inc_df = team_star_power_df

team_inc_df['Total_Revenue'] = team_stats['Total_Revenue']


team_inc_df['Revenue_Cluster'] = 'low'
team_inc_df.loc[team_inc_df['Total_Revenue'] > 330, 'Revenue_Cluster'] = 'high'


team_inc_df.head(5)

  Team  Star Power       Perf  Total_Revenue Revenue_Cluster
0  BOS         3.0  49.314317            443            high
1  CLE         2.0  49.891664            348            high
2  PHI         2.0  47.037178            371            high
3  MEM         3.0  47.131534            258             low
4  MIL         2.0  40.608389            328             low

In [19]:
# Define the parameters for high and low revenue clusters
high_revenue_multiplier = 1.8
low_revenue_multiplier = 1.4

# Calculate the payoffs
def calculate_payoff(row):
    if row['Revenue_Cluster'] == 'high':
        return row['Total_Revenue'] * (1+ high_revenue_multiplier * row['Star Power'] / 10) * ( high_revenue_multiplier * row['Perf'] / 100)
    else:
        return row['Total_Revenue'] * (1+ low_revenue_multiplier * row['Star Power'] / 10) * ( low_revenue_multiplier * row['Perf'] / 100)

team_inc_df['Payoff'] = team_inc_df.apply(calculate_payoff, axis=1)

# Print the updated dataframe
team_inc_df.head(30)

   Team  Star Power       Perf  Total_Revenue Revenue_Cluster      Payoff
0   BOS         3.0  49.314317            443            high  605.577843
1   CLE         2.0  49.891664            348            high  425.029081
2   PHI         2.0  47.037178            371            high  427.195413
3   MEM         3.0  47.131534            258             low  241.739523
4   MIL         2.0  40.608389            328             low  238.686362
5   DEN         1.5  45.155804            348            high  359.227062
6   NYK         3.5  50.432056            504            high  745.756974
7   SAC         2.0  44.355946            289             low  229.714119
8   PHO         2.0  49.996885            366            high  447.956093
9   NOP         2.0  48.249077            262             low  226.531346
10  GSW         2.0  48.458026            765            high  907.483137
11  TOR         2.5  44.816726            305             low  258.346015
12  CHI         3.0  48.868829            372            high  503.927541
13  OKC         1.0  47.365809            267             low  201.840869
14  BRK         2.0  36.127843            367            high  324.578318
15  LAL         2.5  38.168951            516            high  514.044166
16  LAC         1.5  39.114990            425            high  380.021686
17  ATL         2.5  32.099341            326             low  197.776882
18  DAL         2.0  37.961056            429            high  398.663977
19  MIN         1.5  33.297695            259             low  146.092306
20  MIA         2.0  50.388011            371            high  457.627945
21  UTA         2.0  35.294097            274             low  173.296841
22  WAS         1.5  34.098209            323             low  186.572443
23  ORL         1.0  31.035917            261             low  129.281975
24  IND         2.5  36.854295            263             low  183.191642
25  POR         2.5  35.030148            300             low  198.620939
26  CHO         1.5  35.942945            269             low  163.786970
27  HOU         2.0  38.078044            381            high  355.149343
28  DET         2.0  33.109197            274             low  162.568804
29  SAS         1.0  21.717023            319             low  110.566574

In [20]:
# Calculate the performance share for each team
tmr23['Performance Share'] = tmr23['Normalized Predicted W'] / tmr23['Normalized Predicted W'].sum()

# Square each performance share
tmr23['Performance Share Squared'] = tmr23['Performance Share'] ** 2

# Sum the squared performance shares to get the HHI
hhi = tmr23['Performance Share Squared'].sum()

print('Herfindahl-Hirschman Index (HHI):', hhi)

Herfindahl-Hirschman Index (HHI): 0.03440263156079461

In [21]:
#print the df and the HHI
team_inc_df, hhi

(   Team  Star Power       Perf  Total_Revenue Revenue_Cluster      Payoff
 0   BOS         3.0  49.314317            443            high  605.577843
 1   CLE         2.0  49.891664            348            high  425.029081
 2   PHI         2.0  47.037178            371            high  427.195413
 3   MEM         3.0  47.131534            258             low  241.739523
 4   MIL         2.0  40.608389            328             low  238.686362
 5   DEN         1.5  45.155804            348            high  359.227062
 6   NYK         3.5  50.432056            504            high  745.756974
 7   SAC         2.0  44.355946            289             low  229.714119
 8   PHO         2.0  49.996885            366            high  447.956093
 9   NOP         2.0  48.249077            262             low  226.531346
 10  GSW         2.0  48.458026            765            high  907.483137
 11  TOR         2.5  44.816726            305             low  258.346015
 12  CHI         3.0  48.868829            372            high  503.927541
 13  OKC         1.0  47.365809            267             low  201.840869
 14  BRK         2.0  36.127843            367            high  324.578318
 15  LAL         2.5  38.168951            516            high  514.044166
 16  LAC         1.5  39.114990            425            high  380.021686
 17  ATL         2.5  32.099341            326             low  197.776882
 18  DAL         2.0  37.961056            429            high  398.663977
 19  MIN         1.5  33.297695            259             low  146.092306
 20  MIA         2.0  50.388011            371            high  457.627945
 21  UTA         2.0  35.294097            274             low  173.296841
 22  WAS         1.5  34.098209            323             low  186.572443
 23  ORL         1.0  31.035917            261             low  129.281975
 24  IND         2.5  36.854295            263             low  183.191642
 25  POR         2.5  35.030148            300             low  198.620939
 26  CHO         1.5  35.942945            269             low  163.786970
 27  HOU         2.0  38.078044            381            high  355.149343
 28  DET         2.0  33.109197            274             low  162.568804
 29  SAS         1.0  21.717023            319             low  110.566574,
 0.03440263156079461)

In [22]:
# Calculate the sum of the team payoffs
#total_payoff = sum([sum(payoff.values()) for payoff in team_payoffs.values()])
total_payoff = team_inc_df['Payoff'].sum()

# Print the sum of the team payoffs and the HHI
print('Total Payoff:', total_payoff)
print('Herfindahl-Hirschman Index (HHI):', hhi)

Total Payoff: 9900.852190802736
Herfindahl-Hirschman Index (HHI): 0.03440263156079461

In [24]:
print('NBA policies: Luxury tax = 150, Max contract = 37, Rookie contract = 8')
print('Total NBA payoff: 10032.14; HHI: 0.0346')
print('--------------------------------------------')
print('NBA policies: Luxury tax = 250, Max contract = 50, Rookie contract = 18')
print('Total NBA payoff: 9890.89; HHI:0.0343' )
print('--------------------------------------------')
print('NBA policies: Luxury tax = 100, Max contract = 35, Rookie contract = 18')
print('Total NBA payoff: 9900.85; HHI: 0.0344')

NBA policies: Luxury tax = 150, Max contract = 37, Rookie contract = 8
Total NBA payoff: 10032.14; HHI: 0.0346
--------------------------------------------
NBA policies: Luxury tax = 250, Max contract = 50, Rookie contract = 18
Total NBA payoff: 9890.89; HHI:0.0343
--------------------------------------------
NBA policies: Luxury tax = 100, Max contract = 35, Rookie contract = 18
Total NBA payoff: 9900.85; HHI: 0.0344