In [1]:
#set params
luxury_cap = 150 #original: 150
max_contract = 60 #original: 37
rookie_contract = 8 #original: 8

In [2]:
#create a dataframe with a team column for the 30 NBA teams and a column with their total revenues
import pandas as pd
import numpy as np


data = {
    'Team': ['Atlanta Hawks', 'Boston Celtics', 'Brooklyn Nets', 'Charlotte Hornets', 'Chicago Bulls',
             'Cleveland Cavaliers', 'Dallas Mavericks', 'Denver Nuggets', 'Detroit Pistons', 'Golden State Warriors',
             'Houston Rockets', 'Indiana Pacers', 'LA Clippers', 'Los Angeles Lakers', 'Memphis Grizzlies',
             'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves', 'New Orleans Pelicans', 'New York Knicks',
             'Oklahoma City Thunder', 'Orlando Magic', 'Philadelphia 76ers', 'Phoenix Suns', 'Portland Trail Blazers',
             'Sacramento Kings', 'San Antonio Spurs', 'Toronto Raptors', 'Utah Jazz', 'Washington Wizards'],
    'Total_Revenue': [326, 443, 367, 269, 372, 348, 429, 348, 274, 765, 381, 263, 425, 516, 258,
                      371, 328, 259, 262, 504, 267, 261, 371, 366, 300, 289, 319, 305, 274, 323],
    'Total_salary': [154, 178, 159, 125, 152, 152, 177, 162, 129, 192, 137, 125, 193, 169, 127,
                     151, 182, 145, 148, 149, 149, 126, 150, 176, 145, 139, 105, 151, 149, 152]

}

# Create a DataFrame
nba_teams_df = pd.DataFrame(data)
#change team names to abbreviations
team_abbr = {'Atlanta Hawks': 'ATL', 'Boston Celtics': 'BOS', 'Brooklyn Nets': 'BRK', 'Charlotte Hornets': 'CHO', 'Chicago Bulls': 'CHI', 'Cleveland Cavaliers': 'CLE', 'Dallas Mavericks': 'DAL', 'Denver Nuggets': 'DEN', 'Detroit Pistons': 'DET', 'Golden State Warriors': 'GSW', 'Houston Rockets': 'HOU', 'Indiana Pacers': 'IND', 'LA Clippers': 'LAC', 'Los Angeles Lakers': 'LAL', 'Memphis Grizzlies': 'MEM', 'Miami Heat': 'MIA', 'Milwaukee Bucks': 'MIL', 'Minnesota Timberwolves': 'MIN', 'New Orleans Pelicans': 'NOP', 'New York Knicks': 'NYK', 'Oklahoma City Thunder': 'OKC', 'Orlando Magic': 'ORL', 'Philadelphia 76ers': 'PHI', 'Phoenix Suns': 'PHO', 'Portland Trail Blazers': 'POR', 'Sacramento Kings': 'SAC', 'San Antonio Spurs': 'SAS', 'Toronto Raptors': 'TOR', 'Utah Jazz': 'UTA', 'Washington Wizards': 'WAS'}
nba_teams_df['Team'] = nba_teams_df['Team'].map(team_abbr)

In [3]:
team_stats = pd.read_csv(r"C:\Users\krist\Documents\BME\2024_2025_1\Diplomatervezes_2\data\ML_outputs\team_clusters.csv")
team_stats = team_stats.rename(columns={"team": "Team"})
team_stats = team_stats.merge(nba_teams_df, on='Team')

team_stats

,Team,Rk_x,Age,W_x,L_x,PW,PL,MOV_x,SOS,SRS,...,Total Roster,Cluster_1,Cluster_2,Cluster_3,Cluster_4,Cluster_5,Cluster_6,Cluster,Total_Revenue,Total_salary
0,BOS,1.0,27.4,57.0,25.0,57,25,6.52,-0.15,6.38,...,15,2,2,3,2,4,5,0,443,178
1,CLE,2.0,25.4,51.0,31.0,55,27,5.38,-0.15,5.23,...,15,1,2,1,6,2,6,0,348,152
2,PHI,3.0,28.2,54.0,28.0,52,30,4.32,0.06,4.37,...,15,2,0,3,6,3,7,0,371,150
3,MEM,4.0,24.4,51.0,31.0,51,31,3.94,-0.34,3.60,...,15,1,4,2,6,1,5,0,258,127
4,MIL,5.0,29.8,58.0,24.0,50,32,3.63,-0.02,3.61,...,15,1,2,2,5,2,9,0,328,182
5,DEN,6.0,26.6,53.0,29.0,49,33,3.33,-0.29,3.04,...,15,1,1,2,4,5,5,0,348,162
6,NYK,7.0,24.5,47.0,35.0,48,34,2.93,0.06,2.99,...,15,2,3,2,3,1,6,0,504,149
7,SAC,8.0,25.4,48.0,34.0,47,35,2.65,-0.35,2.30,...,15,2,0,3,4,4,7,0,289,139
8,PHO,9.0,28.1,45.0,37.0,46,36,2.07,0.01,2.08,...,15,1,2,3,8,5,1,0,366,176
9,NOP,10.0,25.9,42.0,40.0,46,36,1.89,-0.26,1.63,...,15,1,2,3,6,2,3,0,262,148
10,GSW,11.0,27.3,44.0,38.0,45,37,1.80,-0.15,1.66,...,15,1,2,3,4,3,5,0,765,192
11,TOR,12.0,25.8,41.0,41.0,45,37,1.48,0.12,1.59,...,15,1,3,4,0,3,9,0,305,151
12,CHI,13.0,27.5,40.0,42.0,44,38,1.29,0.07,1.37,...,15,2,2,0,5,5,4,0,372,152
13,OKC,14.0,22.8,40.0,42.0,44,38,1.09,-0.12,0.96,...,15,1,0,3,7,4,4,0,267,149
14,BRK,15.0,28.0,45.0,37.0,43,39,0.85,0.18,1.03,...,15,1,2,5,8,1,8,2,367,159
15,LAL,16.0,27.9,43.0,39.0,42,40,0.57,-0.15,0.43,...,15,2,1,2,8,4,7,2,516,169
16,LAC,17.0,29.7,44.0,38.0,42,40,0.50,-0.19,0.31,...,15,1,1,3,9,3,4,2,425,193
17,ATL,18.0,24.9,41.0,41.0,42,40,0.29,0.02,0.32,...,15,1,3,2,3,3,8,2,326,154
18,DAL,19.0,27.8,38.0,44.0,41,41,0.07,-0.22,-0.14,...,15,1,2,2,6,2,10,2,429,177
19,MIN,20.0,25.8,42.0,40.0,41,41,-0.04,-0.18,-0.22,...,15,0,3,4,3,3,7,2,259,145
20,MIA,21.0,27.7,44.0,38.0,40,42,-0.32,0.18,-0.13,...,15,2,0,1,7,5,5,0,371,151
21,UTA,22.0,26.5,37.0,45.0,39,43,-0.94,-0.09,-1.03,...,15,1,2,3,7,4,6,2,274,149
22,WAS,23.0,26.2,35.0,47.0,38,44,-1.21,0.15,-1.06,...,15,1,1,2,7,3,9,2,323,152
23,ORL,24.0,23.1,34.0,48.0,35,47,-2.56,0.17,-2.39,...,15,0,2,4,5,3,6,2,261,126
24,IND,25.0,24.5,35.0,47.0,33,49,-3.18,0.28,-2.91,...,15,1,3,2,6,2,6,2,263,125
25,POR,26.0,25.1,33.0,49.0,31,51,-4.01,0.05,-3.96,...,15,1,3,3,7,1,9,2,300,145
26,CHO,27.0,25.3,27.0,55.0,26,56,-6.24,0.35,-5.89,...,15,0,3,5,4,1,6,1,269,125
27,HOU,28.0,22.1,22.0,60.0,23,59,-7.85,0.24,-7.62,...,15,0,4,2,2,5,5,1,381,137
28,DET,29.0,24.1,17.0,65.0,22,60,-8.22,0.49,-7.73,...,15,0,4,4,6,1,7,1,274,129
29,SAS,30.0,23.9,22.0,60.0,19,63,-10.04,0.22,-9.82,...,15,0,2,3,10,4,4,1,319,105

In [4]:
team_stats['Rank'] = team_stats['Rk_x'].rank(ascending=True)

def calculate_luxury_tax(total_salary, luxury_cap):
    #luxury_cap = 150
    excess_salary = total_salary - luxury_cap
    tax = 0

    if excess_salary > 20:
        tax += (excess_salary - 20) * 3.75
        excess_salary = 20
    if excess_salary > 15:
        tax += (excess_salary - 15) * 3.25
        excess_salary = 15
    if excess_salary > 10:
        tax += (excess_salary - 10) * 2.50
        excess_salary = 10
    if excess_salary > 5:
        tax += (excess_salary - 5) * 1.75
        excess_salary = 5
    if excess_salary > 0:
        tax += excess_salary * 1.50

    return tax

# Create initial team strategy based on last year's rank
num_teams = len(team_stats)
num_contenders = 16
num_rebuilders = 10 #6
num_tankers = 4 #8

team_stats = team_stats.sort_values(by='Rank')
team_stats['Initial_Strategy'] = ['contend'] * num_contenders + ['rebuild'] * num_rebuilders + ['tank'] * num_tankers
team_stats['Strategy'] = ['contend'] * num_contenders + ['rebuild'] * num_rebuilders + ['tank'] * num_tankers

#divide teams into 2 clusters based on total revenue with 330 as the threshold
team_stats['Revenue_Cluster'] = ['low'] * num_teams
team_stats.loc[team_stats['Total_Revenue'] > 330, 'Revenue_Cluster'] = 'high'

team_stats

,Team,Rk_x,Age,W_x,L_x,PW,PL,MOV_x,SOS,SRS,...,Cluster_4,Cluster_5,Cluster_6,Cluster,Total_Revenue,Total_salary,Rank,Initial_Strategy,Strategy,Revenue_Cluster
0,BOS,1.0,27.4,57.0,25.0,57,25,6.52,-0.15,6.38,...,2,4,5,0,443,178,1.0,contend,contend,high
1,CLE,2.0,25.4,51.0,31.0,55,27,5.38,-0.15,5.23,...,6,2,6,0,348,152,2.0,contend,contend,high
2,PHI,3.0,28.2,54.0,28.0,52,30,4.32,0.06,4.37,...,6,3,7,0,371,150,3.0,contend,contend,high
3,MEM,4.0,24.4,51.0,31.0,51,31,3.94,-0.34,3.60,...,6,1,5,0,258,127,4.0,contend,contend,low
4,MIL,5.0,29.8,58.0,24.0,50,32,3.63,-0.02,3.61,...,5,2,9,0,328,182,5.0,contend,contend,low
5,DEN,6.0,26.6,53.0,29.0,49,33,3.33,-0.29,3.04,...,4,5,5,0,348,162,6.0,contend,contend,high
6,NYK,7.0,24.5,47.0,35.0,48,34,2.93,0.06,2.99,...,3,1,6,0,504,149,7.0,contend,contend,high
7,SAC,8.0,25.4,48.0,34.0,47,35,2.65,-0.35,2.30,...,4,4,7,0,289,139,8.0,contend,contend,low
8,PHO,9.0,28.1,45.0,37.0,46,36,2.07,0.01,2.08,...,8,5,1,0,366,176,9.0,contend,contend,high
9,NOP,10.0,25.9,42.0,40.0,46,36,1.89,-0.26,1.63,...,6,2,3,0,262,148,10.0,contend,contend,low
10,GSW,11.0,27.3,44.0,38.0,45,37,1.80,-0.15,1.66,...,4,3,5,0,765,192,11.0,contend,contend,high
11,TOR,12.0,25.8,41.0,41.0,45,37,1.48,0.12,1.59,...,0,3,9,0,305,151,12.0,contend,contend,low
12,CHI,13.0,27.5,40.0,42.0,44,38,1.29,0.07,1.37,...,5,5,4,0,372,152,13.0,contend,contend,high
13,OKC,14.0,22.8,40.0,42.0,44,38,1.09,-0.12,0.96,...,7,4,4,0,267,149,14.0,contend,contend,low
14,BRK,15.0,28.0,45.0,37.0,43,39,0.85,0.18,1.03,...,8,1,8,2,367,159,15.0,contend,contend,high
15,LAL,16.0,27.9,43.0,39.0,42,40,0.57,-0.15,0.43,...,8,4,7,2,516,169,16.0,contend,contend,high
16,LAC,17.0,29.7,44.0,38.0,42,40,0.50,-0.19,0.31,...,9,3,4,2,425,193,17.0,rebuild,rebuild,high
17,ATL,18.0,24.9,41.0,41.0,42,40,0.29,0.02,0.32,...,3,3,8,2,326,154,18.0,rebuild,rebuild,low
18,DAL,19.0,27.8,38.0,44.0,41,41,0.07,-0.22,-0.14,...,6,2,10,2,429,177,19.0,rebuild,rebuild,high
19,MIN,20.0,25.8,42.0,40.0,41,41,-0.04,-0.18,-0.22,...,3,3,7,2,259,145,20.0,rebuild,rebuild,low
20,MIA,21.0,27.7,44.0,38.0,40,42,-0.32,0.18,-0.13,...,7,5,5,0,371,151,21.0,rebuild,rebuild,high
21,UTA,22.0,26.5,37.0,45.0,39,43,-0.94,-0.09,-1.03,...,7,4,6,2,274,149,22.0,rebuild,rebuild,low
22,WAS,23.0,26.2,35.0,47.0,38,44,-1.21,0.15,-1.06,...,7,3,9,2,323,152,23.0,rebuild,rebuild,low
23,ORL,24.0,23.1,34.0,48.0,35,47,-2.56,0.17,-2.39,...,5,3,6,2,261,126,24.0,rebuild,rebuild,low
24,IND,25.0,24.5,35.0,47.0,33,49,-3.18,0.28,-2.91,...,6,2,6,2,263,125,25.0,rebuild,rebuild,low
25,POR,26.0,25.1,33.0,49.0,31,51,-4.01,0.05,-3.96,...,7,1,9,2,300,145,26.0,rebuild,rebuild,low
26,CHO,27.0,25.3,27.0,55.0,26,56,-6.24,0.35,-5.89,...,4,1,6,1,269,125,27.0,tank,tank,low
27,HOU,28.0,22.1,22.0,60.0,23,59,-7.85,0.24,-7.62,...,2,5,5,1,381,137,28.0,tank,tank,high
28,DET,29.0,24.1,17.0,65.0,22,60,-8.22,0.49,-7.73,...,6,1,7,1,274,129,29.0,tank,tank,low
29,SAS,30.0,23.9,22.0,60.0,19,63,-10.04,0.22,-9.82,...,10,4,4,1,319,105,30.0,tank,tank,low

In [5]:
#creating contracts from pareto distribution
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


# Parameters for Pareto distributions for rich and poor teams
pareto_params = {
    "high": {"alpha": 0.417355987589288, "scale": 1500000, "max_value": max_contract*1000000 },  
    "low": {"alpha": 2.315523238187749, "scale": 1500000, "max_value": max_contract*1000000 }   
}

# Function to sample contracts with truncated Pareto sampling
def sample_truncated_pareto(category, num_contracts=18):
    alpha = pareto_params[category]["alpha"]
    scale = pareto_params[category]["scale"]
    max_value = pareto_params[category]["max_value"]

    # make sure 2 of the contracts are above 30 million for the high revenue teams and 2 above 20 million for the low revenue teams
    if category == 'high':
        initial_samples = (np.random.pareto(alpha, num_contracts * 5) + 1) * scale
        truncated_samples = initial_samples[initial_samples <= max_value]
        while len(truncated_samples) < num_contracts:
            extra_samples = (np.random.pareto(alpha, num_contracts) + 1) * scale
            truncated_samples = np.concatenate((truncated_samples, extra_samples[extra_samples <= max_value]))
        truncated_samples = truncated_samples[:num_contracts]
        #truncated_samples[0] = max_value
        #truncated_samples[1] = max_value - 5000000
        #truncated_samples[2] = max_value - 10000000
        #truncated_samples[3] = max_value - 10000000
    else:
        initial_samples = (np.random.pareto(alpha, num_contracts * 5) + 1) * scale
        truncated_samples = initial_samples[initial_samples <= max_value]
        while len(truncated_samples) < num_contracts:
            extra_samples = (np.random.pareto(alpha, num_contracts) + 1) * scale
            truncated_samples = np.concatenate((truncated_samples, extra_samples[extra_samples <= max_value]))
        truncated_samples = truncated_samples[:num_contracts]
        #truncated_samples[0] = max_value - 5000000
        #truncated_samples[1] = max_value - 10000000
        #truncated_samples[2] = max_value - 15000000
        #truncated_samples[3] = max_value - 15000000

    # Generate more samples than needed initially
    ##initial_samples = (np.random.pareto(alpha, num_contracts * 5) + 1) * scale

    # Filter samples to apply the max value constraint
    ##truncated_samples = initial_samples[initial_samples <= max_value]

    # Continue generating more samples if not enough are within the max constraint
    ##while len(truncated_samples) < num_contracts:
    ##    extra_samples = (np.random.pareto(alpha, num_contracts) + 1) * scale
    ##    truncated_samples = np.concatenate((truncated_samples, extra_samples[extra_samples <= max_value]))

    # Return only the first `num_contracts` samples after truncation
    return truncated_samples[:num_contracts]

# Create a DataFrame to store contracts for each team
contracts_data = []

# Assign each team as "rich" or "poor"
np.random.seed(55)  # For reproducibility
#choose team categories based on the column called revenue_cluster
team_categories = team_stats['Revenue_Cluster']


for team, category in zip(team_stats['Team'], team_categories):
    contracts = sample_truncated_pareto(category)
    team_row = [team, category] + list(contracts)
    contracts_data.append(team_row)

    

    

# Define column names
columns = ["Team", "Category"] + [f"Contract{i+1}" for i in range(18)]

# Create the DataFrame
contracts_df = pd.DataFrame(contracts_data, columns=columns)

# Display the first few rows of the DataFrame

#create a function to calculate the total salary of a team
def calculate_total_salary(contracts):
    return np.sum(contracts)

# Calculate the total salary for each team
contracts_df['Total_Contract'] = contracts_df[columns[2:]].apply(calculate_total_salary, axis=1)
#divide the total salary by 1000000 to get the total salary in millions
contracts_df['Total_Contract_samp'] = contracts_df['Total_Contract'] / 1000000


contracts_df.head(30)

,Team,Category,Contract1,Contract2,Contract3,Contract4,Contract5,Contract6,Contract7,Contract8,...,Contract11,Contract12,Contract13,Contract14,Contract15,Contract16,Contract17,Contract18,Total_Contract,Total_Contract_samp
0,BOS,high,1.895789e+06,7.316622e+06,2.918274e+06,9.209748e+06,3.357157e+06,1.658682e+06,1.974352e+06,4.927701e+07,...,1.533362e+06,1.507763e+07,7.773517e+06,4.246945e+06,5.037962e+06,1.777591e+07,1.576142e+06,5.758617e+06,1.919919e+08,191.991945
1,CLE,high,1.307019e+07,3.408640e+06,1.574402e+07,3.764569e+06,6.709287e+06,2.428348e+06,3.338884e+06,3.316528e+06,...,4.362532e+07,1.776546e+06,3.373379e+06,1.009651e+07,9.043287e+06,7.611719e+06,1.428949e+07,5.457100e+06,1.663692e+08,166.369185
2,PHI,high,2.967481e+07,2.444758e+07,1.659211e+06,3.007095e+06,2.627081e+06,2.622977e+06,1.174065e+07,1.931762e+06,...,2.524529e+07,2.385347e+06,1.546660e+07,1.729135e+06,3.832628e+06,2.263389e+07,2.090401e+06,2.222226e+07,1.787897e+08,178.789685
3,MEM,low,1.825623e+06,1.937484e+06,1.679982e+06,1.571772e+06,1.811493e+06,4.870064e+06,1.539991e+06,1.586016e+06,...,2.202748e+06,1.611653e+06,1.557479e+06,1.708012e+06,2.239138e+06,2.919074e+06,1.653061e+06,3.011102e+06,4.152022e+07,41.520221
4,MIL,low,2.486942e+06,3.957775e+06,1.533529e+06,1.772096e+06,1.980451e+06,1.501365e+06,1.921624e+06,1.683134e+06,...,1.840948e+06,1.702490e+06,2.134177e+06,2.221618e+06,1.615814e+06,2.353598e+06,2.416901e+06,4.347510e+06,3.907539e+07,39.075393
5,DEN,high,6.273701e+06,2.100525e+06,2.042265e+06,2.180513e+06,1.342077e+07,5.222816e+06,2.587492e+06,3.287002e+06,...,2.554081e+06,5.396117e+06,2.946821e+06,2.008261e+06,4.698158e+06,2.689148e+06,5.340576e+06,6.676570e+06,7.392896e+07,73.928961
6,NYK,high,6.080719e+06,5.226922e+06,4.882722e+07,1.060305e+07,1.894654e+06,6.272999e+06,4.403156e+06,4.994325e+07,...,5.745777e+07,1.074769e+07,2.216619e+06,6.029373e+06,1.546808e+06,5.254543e+06,1.642848e+07,2.224314e+07,2.998928e+08,299.892843
7,SAC,low,1.619861e+06,4.012689e+06,4.262198e+06,2.983668e+06,1.640231e+06,2.049645e+06,5.729076e+06,1.837181e+06,...,1.732794e+06,1.676194e+06,2.447345e+06,1.526070e+06,4.487519e+06,1.172427e+07,2.442088e+06,2.157094e+06,5.547806e+07,55.478058
8,PHO,high,4.564567e+06,4.010548e+07,1.718879e+06,2.182180e+07,3.392918e+06,2.560492e+07,3.046425e+07,3.208854e+06,...,1.502041e+06,4.838801e+06,7.608053e+06,4.033130e+06,2.209967e+06,1.650340e+06,5.289302e+06,2.675990e+06,1.723556e+08,172.355582
9,NOP,low,1.644576e+06,9.505490e+06,2.325285e+06,1.556858e+06,2.072669e+06,2.787980e+06,6.340835e+06,1.575919e+06,...,1.974200e+06,1.603994e+06,1.691616e+06,1.667716e+06,1.542413e+06,2.202898e+06,2.820751e+06,2.116882e+06,4.655499e+07,46.554989
10,GSW,high,5.041415e+06,3.962733e+06,1.646627e+07,2.420364e+07,2.161444e+07,7.068935e+06,4.097404e+07,4.650127e+07,...,5.450729e+07,1.148278e+07,4.091625e+07,1.036403e+07,6.776383e+06,1.753267e+07,5.104993e+07,5.153332e+06,3.889282e+08,388.928186
11,TOR,low,1.645212e+06,1.604173e+06,1.014945e+07,3.794629e+06,2.195918e+06,1.677201e+06,2.198597e+06,2.317697e+06,...,1.735395e+06,4.317952e+06,1.997261e+06,1.545470e+06,2.324230e+06,4.346700e+06,1.645244e+06,2.415445e+06,5.479473e+07,54.794729
12,CHI,high,2.892832e+07,9.113047e+06,4.791399e+06,6.113530e+06,2.042505e+06,3.352404e+06,4.040848e+06,1.525791e+06,...,1.502013e+06,1.700921e+07,2.606018e+07,3.917438e+06,2.750328e+07,2.433365e+07,7.452179e+06,1.861712e+06,2.065987e+08,206.598659
13,OKC,low,1.945932e+06,8.319168e+06,4.343570e+06,1.951198e+06,1.855712e+06,1.517567e+06,1.756121e+06,5.151247e+06,...,2.134792e+06,1.884232e+06,1.505365e+06,1.590864e+06,2.004990e+06,2.435586e+06,4.750974e+06,1.853979e+06,5.133504e+07,51.335035
14,BRK,high,6.971062e+06,7.122265e+06,7.422272e+06,2.905383e+06,5.644003e+06,1.562631e+06,9.385008e+06,5.187298e+06,...,1.850611e+06,4.978629e+06,4.239476e+07,6.407325e+06,1.729342e+06,2.537467e+06,6.351442e+06,1.939189e+06,1.269869e+08,126.986892
15,LAL,high,2.381912e+06,2.266371e+06,8.862574e+06,5.593844e+06,2.978560e+06,1.180180e+07,9.392683e+06,2.152636e+06,...,3.530250e+06,1.650365e+07,2.079189e+06,5.530915e+06,7.622590e+06,1.619889e+06,5.467384e+07,1.305131e+07,1.716617e+08,171.661731
16,LAC,high,5.052748e+07,2.868308e+07,2.074614e+06,9.505996e+06,1.282482e+07,3.524480e+06,2.878948e+06,7.515912e+06,...,2.271993e+06,3.487714e+06,2.764181e+06,3.112241e+06,2.366897e+07,1.002106e+07,1.621735e+06,6.548469e+06,2.054036e+08,205.403641
17,ATL,low,1.836750e+06,1.541964e+06,2.891468e+06,1.536579e+06,1.589408e+06,2.466314e+06,1.581147e+06,1.639299e+06,...,5.501278e+06,2.103966e+06,1.668423e+06,1.546084e+06,1.519013e+06,2.110387e+06,1.552417e+06,3.619561e+06,3.856096e+07,38.560962
18,DAL,high,2.151162e+07,2.719949e+06,1.105769e+07,7.983113e+06,3.506302e+06,1.723375e+06,1.067769e+07,2.004128e+06,...,1.684079e+07,8.136656e+06,8.384869e+06,2.254762e+06,3.006895e+07,1.624528e+07,1.560683e+06,2.987802e+06,1.879095e+08,187.909546
19,MIN,low,3.322986e+06,3.869885e+06,1.842037e+06,1.984370e+06,1.674039e+06,2.564850e+06,1.651489e+06,1.640624e+06,...,1.619100e+06,1.826491e+06,2.981592e+06,1.941076e+06,4.107046e+06,1.651663e+06,2.873833e+06,1.878861e+06,4.114246e+07,41.142463
20,MIA,high,3.047658e+06,2.105120e+06,9.418031e+06,1.083064e+07,2.422953e+06,6.867881e+06,6.402251e+06,6.747351e+06,...,4.939701e+07,2.946757e+06,2.393120e+07,4.240859e+07,3.845409e+06,9.269874e+06,8.215736e+06,2.522129e+06,2.095430e+08,209.542951
21,UTA,low,2.328147e+06,1.787645e+06,1.676953e+06,2.373089e+06,2.131455e+06,1.807694e+06,1.794227e+06,1.660951e+06,...,2.399921e+06,1.676235e+06,1.705128e+06,6.913112e+06,1.976180e+06,3.984570e+06,1.587496e+06,3.370771e+06,4.485367e+07,44.853667
22,WAS,low,2.018956e+06,3.858782e+06,1.593514e+06,1.671156e+06,2.242412e+06,2.661401e+06,1.597886e+06,3.351160e+06,...,2.073349e+06,2.311595e+06,1.763134e+06,2.030666e+06,1.932394e+06,2.472386e+06,2.670562e+06,1.940602e+06,4.096992e+07,40.969925
23,ORL,low,2.084240e+06,2.614041e+06,2.269275e+06,2.275289e+06,1.574073e+06,1.559442e+06,2.148461e+06,1.682317e+06,...,1.835691e+06,2.187828e+06,1.555444e+06,2.225014e+06,1.628278e+06,1.780182e+06,2.244480e+06,1.708239e+06,3.444653e+07,34.446527
24,IND,low,2.076147e+06,3.522608e+06,2.557098e+06,3.497040e+06,1.611113e+06,1.804458e+06,1.598459e+06,8.252753e+06,...,1.609030e+06,2.146546e+06,2.544791e+06,1.822659e+06,1.882690e+06,2.037449e+06,2.149553e+06,1.692052e+06,4.593091e+07,45.930910
25,POR,low,1.755514e+06,1.721362e+06,1.931413e+06,2.144414e+06,1.944313e+06,2.288280e+06,3.769998e+06,1.712802e+06,...,2.826868e+06,1.658053e+06,1.652462e+06,1.849030e+06,2.789336e+06,4.830398e+06,3.969825e+06,1.501579e+06,4.737768e+07,47.377679
26,CHO,low,2.878181e+06,1.547085e+06,4.811473e+06,1.660479e+06,4.139172e+06,3.074614e+06,1.590596e+06,2.165643e+06,...,1.720674e+06,3.915412e+06,2.071146e+06,5.472094e+06,2.661707e+06,2.814840e+06,1.705252e+06,1.592465e+07,6.238157e+07,62.381575
27,HOU,high,3.486841e+06,6.537374e+06,2.401414e+07,6.992921e+06,1.589645e+06,1.926389e+06,3.091916e+06,2.542514e+06,...,1.954937e+06,4.763158e+06,1.669725e+06,1.707637e+07,1.922678e+06,2.576969e+07,1.887310e+06,1.784456e+06,1.157144e+08,115.714427
28,DET,low,2.543844e+06,1.501531e+06,1.876214e+06,1.718178e+06,5.283041e+06,1.967297e+06,1.900789e+06,5.647487e+06,...,1.630766e+06,2.178026e+06,2.577667e+06,2.393786e+06,1.543337e+06,2.031506e+06,1.663364e+06,1.567337e+06,4.379057e+07,43.790574
29,SAS,low,1.957693e+06,1.935168e+06,1.917110e+06,2.148581e+06,1.550238e+06,1.589529e+06,1.510442e+06,3.263787e+06,...,2.003063e+06,2.850932e+06,2.590810e+06,1.644701e+06,1.867174e+06,2.019862e+06,1.684997e+06,3.541387e+06,3.882816e+07,38.828159

In [6]:
#add the total salary to the team_stats dataframe
team_stats = team_stats.merge(contracts_df[['Team', 'Total_Contract_samp']], on='Team')
team_stats.head(15)

,Team,Rk_x,Age,W_x,L_x,PW,PL,MOV_x,SOS,SRS,...,Cluster_5,Cluster_6,Cluster,Total_Revenue,Total_salary,Rank,Initial_Strategy,Strategy,Revenue_Cluster,Total_Contract_samp
0,BOS,1.0,27.4,57.0,25.0,57,25,6.52,-0.15,6.38,...,4,5,0,443,178,1.0,contend,contend,high,191.991945
1,CLE,2.0,25.4,51.0,31.0,55,27,5.38,-0.15,5.23,...,2,6,0,348,152,2.0,contend,contend,high,166.369185
2,PHI,3.0,28.2,54.0,28.0,52,30,4.32,0.06,4.37,...,3,7,0,371,150,3.0,contend,contend,high,178.789685
3,MEM,4.0,24.4,51.0,31.0,51,31,3.94,-0.34,3.60,...,1,5,0,258,127,4.0,contend,contend,low,41.520221
4,MIL,5.0,29.8,58.0,24.0,50,32,3.63,-0.02,3.61,...,2,9,0,328,182,5.0,contend,contend,low,39.075393
5,DEN,6.0,26.6,53.0,29.0,49,33,3.33,-0.29,3.04,...,5,5,0,348,162,6.0,contend,contend,high,73.928961
6,NYK,7.0,24.5,47.0,35.0,48,34,2.93,0.06,2.99,...,1,6,0,504,149,7.0,contend,contend,high,299.892843
7,SAC,8.0,25.4,48.0,34.0,47,35,2.65,-0.35,2.30,...,4,7,0,289,139,8.0,contend,contend,low,55.478058
8,PHO,9.0,28.1,45.0,37.0,46,36,2.07,0.01,2.08,...,5,1,0,366,176,9.0,contend,contend,high,172.355582
9,NOP,10.0,25.9,42.0,40.0,46,36,1.89,-0.26,1.63,...,2,3,0,262,148,10.0,contend,contend,low,46.554989
10,GSW,11.0,27.3,44.0,38.0,45,37,1.80,-0.15,1.66,...,3,5,0,765,192,11.0,contend,contend,high,388.928186
11,TOR,12.0,25.8,41.0,41.0,45,37,1.48,0.12,1.59,...,3,9,0,305,151,12.0,contend,contend,low,54.794729
12,CHI,13.0,27.5,40.0,42.0,44,38,1.29,0.07,1.37,...,5,4,0,372,152,13.0,contend,contend,high,206.598659
13,OKC,14.0,22.8,40.0,42.0,44,38,1.09,-0.12,0.96,...,4,4,0,267,149,14.0,contend,contend,low,51.335035
14,BRK,15.0,28.0,45.0,37.0,43,39,0.85,0.18,1.03,...,1,8,2,367,159,15.0,contend,contend,high,126.986892

In [7]:
def calculate_team_payoffs(team_stats, luxury_cap, max_contract, rookie_contract): 
    num_teams = len(team_stats)
    #calculate the number of contenders, rebuilders and tankers
    num_contenders = team_stats[team_stats['Strategy'] == 'contend'].shape[0]
    num_tankers = team_stats[team_stats['Strategy'] == 'tank'].shape[0]
    strategies = ['contend', 'rebuild', 'tank']
    payoffs = {team: {strategy: 0 for strategy in strategies} for team in team_stats['Team']}
    
    for team in team_stats['Team']:
        total_salary = team_stats.loc[team_stats['Team'] == team, 'Total_Contract_samp'].values[0]
        
        # Calculate the luxury tax
        luxury_tax = calculate_luxury_tax(total_salary, luxury_cap)        
        # Calculate the rank influence factor
        rank = team_stats.loc[team_stats['Team'] == team, 'Rank'].values[0]
        rank_influence = rank 
        
        
        
        for strategy in strategies:
            if strategy == 'contend':
                # total salary/luxury tax + (30-rank influence)/num_contenders!!! <- ezeket súlyozni próbálkozva
                
                if luxury_tax == 0:
                    payoffs[team][strategy] = (
                        (30- rank_influence)/num_contenders
                    )
                else:
                    payoffs[team][strategy] = (
                    total_salary/luxury_tax + (30-rank_influence)/num_contenders


                #rank, num contender, luxury tax(csapat pénzével arányosítva: tavalyi total salary), #18-as létszámmal mintavét max contract alapján; total_salary/18; (hányan max contract felett?)
                #rank influence/num_contenders
                #num_contenders = sum(1 for t in team_stats['Team'] if payoffs[t]['contend'] > 0)
                )
                
            elif strategy == 'rebuild':

                # ((total_salary/18) / rookie_salary)
                payoffs[team][strategy] = (
                    (total_salary/18) / rookie_contract 
                    + ((rank_influence/num_contenders) + (rank_influence/num_tankers)/2)
                    
                )
                
            elif strategy == 'tank':

                
                #num_tankers = sum(1 for t in team_stats['Team'] if payoffs[t]['tank'] > payoffs[t]['rebuild'] and payoffs[t]['tank'] > payoffs[t]['contend'])
                if luxury_tax == 0:
                    payoffs[team][strategy] = (
                        rank_influence/num_tankers
                    )
                else:
                    payoffs[team][strategy] = (
                   
                    total_salary/luxury_tax + rank_influence/num_tankers
                )
    
    return payoffs

# Calculate payoffs for each team
team_payoffs = calculate_team_payoffs(team_stats, luxury_cap, max_contract, rookie_contract)

for team, payoff in team_payoffs.items():
    print(f"Team: {team}, Payoffs: {payoff}")

Team: BOS, Payoffs: {'contend': 3.318675999616623, 'rebuild': 1.5207773972939904, 'tank': 1.756175999616623}
Team: CLE, Payoffs: {'contend': 6.761142510746754, 'rebuild': 1.5303415620687182, 'tank': 5.511142510746754}
Team: PHI, Payoffs: {'contend': 3.9808127529369504, 'rebuild': 1.8040950333286065, 'tank': 3.0433127529369504}
Team: MEM, Payoffs: {'contend': 1.625, 'rebuild': 1.0383348659564886, 'tank': 1.0}
Team: MIL, Payoffs: {'contend': 1.5625, 'rebuild': 1.2088568932009678, 'tank': 1.25}
Team: DEN, Payoffs: {'contend': 1.5, 'rebuild': 1.6383955648808013, 'tank': 1.5}
Team: NYK, Payoffs: {'contend': 2.001104359687602, 'rebuild': 3.3950891846171367, 'tank': 2.313604359687602}
Team: SAC, Payoffs: {'contend': 1.375, 'rebuild': 1.8852642937238056, 'tank': 2.0}
Team: PHO, Payoffs: {'contend': 4.514145710241884, 'rebuild': 2.8844137662668343, 'tank': 5.451645710241884}
Team: NOP, Payoffs: {'contend': 1.25, 'rebuild': 2.19829853408879, 'tank': 2.5}
Team: GSW, Payoffs: {'contend': 1.636618770427978, 'rebuild': 4.76339017978861, 'tank': 3.1991187704279778}
Team: TOR, Payoffs: {'contend': 1.125, 'rebuild': 2.630518949238687, 'tank': 3.0}
Team: CHI, Payoffs: {'contend': 2.196131608919319, 'rebuild': 3.87221290763834, 'tank': 4.383631608919319}
Team: OKC, Payoffs: {'contend': 1.0, 'rebuild': 2.9814933000694186, 'tank': 3.5}
Team: BRK, Payoffs: {'contend': 0.9375, 'rebuild': 3.694353419964224, 'tank': 3.75}
Team: LAL, Payoffs: {'contend': 4.225707227444165, 'rebuild': 4.1920953559655825, 'tank': 7.350707227444165}
Team: LAC, Payoffs: {'contend': 1.9679872722598957, 'rebuild': 4.613914176989412, 'tank': 5.4054872722598954}
Team: ATL, Payoffs: {'contend': 0.75, 'rebuild': 3.642784457812933, 'tank': 4.5}
Team: DAL, Payoffs: {'contend': 2.362858489669869, 'rebuild': 4.867427405012886, 'tank': 6.425358489669869}
Team: MIN, Payoffs: {'contend': 0.625, 'rebuild': 4.03571154828796, 'tank': 5.0}
Team: MIA, Payoffs: {'contend': 1.6466078963838704, 'rebuild': 5.3926593826634885, 'tank': 6.334107896383871}
Team: UTA, Payoffs: {'contend': 0.5, 'rebuild': 4.436483797590281, 'tank': 5.5}
Team: WAS, Payoffs: {'contend': 0.4375, 'rebuild': 4.5970133678915435, 'tank': 5.75}
Team: ORL, Payoffs: {'contend': 0.375, 'rebuild': 4.739211992538324, 'tank': 6.0}
Team: IND, Payoffs: {'contend': 0.3125, 'rebuild': 5.006464655147787, 'tank': 6.25}
Team: POR, Payoffs: {'contend': 0.25, 'rebuild': 5.204011656737849, 'tank': 6.5}
Team: CHO, Payoffs: {'contend': 0.1875, 'rebuild': 5.495705378996154, 'tank': 6.75}
Team: HOU, Payoffs: {'contend': 0.125, 'rebuild': 6.053572412384078, 'tank': 7.0}
Team: DET, Payoffs: {'contend': 0.0625, 'rebuild': 5.7416012072304765, 'tank': 7.25}
Team: SAS, Payoffs: {'contend': 0.0, 'rebuild': 5.894639996097818, 'tank': 7.5}

In [8]:
#print the payoffs for each team, only the highest payoff is displayed
for team, payoff in team_payoffs.items():
    max_payoff = max(payoff.values())
    max_strategy = [strategy for strategy, value in payoff.items() if value == max_payoff][0]
    print(f"Team: {team}, Strategy: {max_strategy}, Payoff: {max_payoff}")

Team: BOS, Strategy: contend, Payoff: 3.318675999616623
Team: CLE, Strategy: contend, Payoff: 6.761142510746754
Team: PHI, Strategy: contend, Payoff: 3.9808127529369504
Team: MEM, Strategy: contend, Payoff: 1.625
Team: MIL, Strategy: contend, Payoff: 1.5625
Team: DEN, Strategy: rebuild, Payoff: 1.6383955648808013
Team: NYK, Strategy: rebuild, Payoff: 3.3950891846171367
Team: SAC, Strategy: tank, Payoff: 2.0
Team: PHO, Strategy: tank, Payoff: 5.451645710241884
Team: NOP, Strategy: tank, Payoff: 2.5
Team: GSW, Strategy: rebuild, Payoff: 4.76339017978861
Team: TOR, Strategy: tank, Payoff: 3.0
Team: CHI, Strategy: tank, Payoff: 4.383631608919319
Team: OKC, Strategy: tank, Payoff: 3.5
Team: BRK, Strategy: tank, Payoff: 3.75
Team: LAL, Strategy: tank, Payoff: 7.350707227444165
Team: LAC, Strategy: tank, Payoff: 5.4054872722598954
Team: ATL, Strategy: tank, Payoff: 4.5
Team: DAL, Strategy: tank, Payoff: 6.425358489669869
Team: MIN, Strategy: tank, Payoff: 5.0
Team: MIA, Strategy: tank, Payoff: 6.334107896383871
Team: UTA, Strategy: tank, Payoff: 5.5
Team: WAS, Strategy: tank, Payoff: 5.75
Team: ORL, Strategy: tank, Payoff: 6.0
Team: IND, Strategy: tank, Payoff: 6.25
Team: POR, Strategy: tank, Payoff: 6.5
Team: CHO, Strategy: tank, Payoff: 6.75
Team: HOU, Strategy: tank, Payoff: 7.0
Team: DET, Strategy: tank, Payoff: 7.25
Team: SAS, Strategy: tank, Payoff: 7.5

In [9]:
import numpy as np

previous_strategy = team_stats['Strategy'].copy()
convergence_threshold = 5  # Stop if fewer than this number of teams change strategies
max_iterations = 100       # Limit the number of iterations to avoid infinite loops
iteration = 0

while iteration < max_iterations:
    # Calculate payoffs for each team
    team_payoffs = calculate_team_payoffs(team_stats, 150, 37, 8)
    
    # Track the number of teams changing strategies
    strategy_changes = 0

    # Update the Strategy column with the best strategy for each team based on a game-theoretical approach
    for team, payoff in team_payoffs.items():
        max_payoff = max(payoff.values())
        # Choose strategy with highest payoff or close within a small tolerance
        max_strategy = [
            strategy for strategy, value in payoff.items() if np.isclose(value, max_payoff, atol=0.1)
        ][0]

        # Check if the team's strategy is changing
        current_strategy = team_stats.loc[team_stats['Team'] == team, 'Strategy'].values[0]
        if current_strategy != max_strategy:
            team_stats.loc[team_stats['Team'] == team, 'Strategy'] = max_strategy
            strategy_changes += 1

    # Fix the strategy for the first and last team (e.g., BOS as contender and SAS as tanker)
    team_stats.loc[team_stats['Team'] == 'BOS', 'Strategy'] = 'contend'
    team_stats.loc[team_stats['Team'] == 'SAS', 'Strategy'] = 'tank'

    # Check for convergence
    if strategy_changes < convergence_threshold:
        print(f"Converged after {iteration} iterations with {strategy_changes} changes.")
        break

    # Update previous_strategy for the next iteration and increment iteration counter
    previous_strategy = team_stats['Strategy'].copy()
    iteration += 1

#display the final values for each strategy for each team
for team, payoff in team_payoffs.items():
    print(f"Team: {team}, Payoffs: {payoff}")

# Display the final team_stats DataFrame
team_stats

Team: BOS, Payoffs: {'contend': 16.006175999616623, 'rebuild': 1.8511345401511332, 'tank': 1.5418902853309089}
Team: CLE, Payoffs: {'contend': 19.011142510746755, 'rebuild': 2.191055847783004, 'tank': 5.082571082175325}
Team: PHI, Payoffs: {'contend': 15.79331275293695, 'rebuild': 2.795166461900035, 'tank': 2.4004556100798076}
Team: MEM, Payoffs: {'contend': 13.0, 'rebuild': 2.3597634373850602, 'tank': 0.14285714285714285}
Team: MIL, Payoffs: {'contend': 12.5, 'rebuild': 2.860642607486682, 'tank': 0.17857142857142858}
Team: DEN, Payoffs: {'contend': 12.0, 'rebuild': 3.6205384220236585, 'tank': 0.21428571428571427}
Team: NYK, Payoffs: {'contend': 12.063604359687602, 'rebuild': 5.707589184617136, 'tank': 0.8136043596876019}
Team: SAC, Payoffs: {'contend': 11.0, 'rebuild': 4.528121436580949, 'tank': 0.2857142857142857}
Team: PHO, Payoffs: {'contend': 13.701645710241884, 'rebuild': 5.85762805198112, 'tank': 3.523074281670456}
Team: NOP, Payoffs: {'contend': 10.0, 'rebuild': 5.501869962660219, 'tank': 0.35714285714285715}
Team: GSW, Payoffs: {'contend': 9.949118770427978, 'rebuild': 8.397318751217181, 'tank': 0.8419759132851208}
Team: TOR, Payoffs: {'contend': 9.0, 'rebuild': 6.5948046635244015, 'tank': 0.42857142857142855}
Team: CHI, Payoffs: {'contend': 9.63363160891932, 'rebuild': 8.166855764781197, 'tank': 1.5979173232050332}
Team: OKC, Payoffs: {'contend': 8.0, 'rebuild': 7.606493300069419, 'tank': 0.5}
Team: BRK, Payoffs: {'contend': 7.5, 'rebuild': 8.649710562821367, 'tank': 0.5357142857142857}
Team: LAL, Payoffs: {'contend': 10.350707227444165, 'rebuild': 9.477809641679869, 'tank': 3.922135798872737}
Team: LAC, Payoffs: {'contend': 7.6554872722598954, 'rebuild': 10.229985605560842, 'tank': 1.7626301294027527}
Team: ATL, Payoffs: {'contend': 6.0, 'rebuild': 9.589213029241504, 'tank': 0.6428571428571429}
Team: DAL, Payoffs: {'contend': 7.175358489669869, 'rebuild': 11.144213119298598, 'tank': 2.3539299182412976}
Team: MIN, Payoffs: {'contend': 5.0, 'rebuild': 10.642854405430818, 'tank': 0.7142857142857143}
Team: MIA, Payoffs: {'contend': 5.584107896383871, 'rebuild': 12.330159382663489, 'tank': 1.8341078963838704}
Team: UTA, Payoffs: {'contend': 4.0, 'rebuild': 11.704340940447423, 'tank': 0.7857142857142857}
Team: WAS, Payoffs: {'contend': 3.5, 'rebuild': 12.19522765360583, 'tank': 0.8214285714285714}
Team: ORL, Payoffs: {'contend': 3.0, 'rebuild': 12.667783421109753, 'tank': 0.8571428571428571}
Team: IND, Payoffs: {'contend': 2.5, 'rebuild': 13.265393226576357, 'tank': 0.8928571428571429}
Team: POR, Payoffs: {'contend': 2.0, 'rebuild': 13.793297371023563, 'tank': 0.9285714285714286}
Team: CHO, Payoffs: {'contend': 1.5, 'rebuild': 14.41534823613901, 'tank': 0.9642857142857143}
Team: HOU, Payoffs: {'contend': 1.0, 'rebuild': 15.303572412384078, 'tank': 1.0}
Team: DET, Payoffs: {'contend': 0.5, 'rebuild': 15.321958350087618, 'tank': 1.0357142857142858}
Team: SAS, Payoffs: {'contend': 0.0, 'rebuild': 15.805354281812106, 'tank': 1.0714285714285714}

,Team,Rk_x,Age,W_x,L_x,PW,PL,MOV_x,SOS,SRS,...,Cluster_5,Cluster_6,Cluster,Total_Revenue,Total_salary,Rank,Initial_Strategy,Strategy,Revenue_Cluster,Total_Contract_samp
0,BOS,1.0,27.4,57.0,25.0,57,25,6.52,-0.15,6.38,...,4,5,0,443,178,1.0,contend,contend,high,191.991945
1,CLE,2.0,25.4,51.0,31.0,55,27,5.38,-0.15,5.23,...,2,6,0,348,152,2.0,contend,contend,high,166.369185
2,PHI,3.0,28.2,54.0,28.0,52,30,4.32,0.06,4.37,...,3,7,0,371,150,3.0,contend,contend,high,178.789685
3,MEM,4.0,24.4,51.0,31.0,51,31,3.94,-0.34,3.60,...,1,5,0,258,127,4.0,contend,contend,low,41.520221
4,MIL,5.0,29.8,58.0,24.0,50,32,3.63,-0.02,3.61,...,2,9,0,328,182,5.0,contend,contend,low,39.075393
5,DEN,6.0,26.6,53.0,29.0,49,33,3.33,-0.29,3.04,...,5,5,0,348,162,6.0,contend,contend,high,73.928961
6,NYK,7.0,24.5,47.0,35.0,48,34,2.93,0.06,2.99,...,1,6,0,504,149,7.0,contend,contend,high,299.892843
7,SAC,8.0,25.4,48.0,34.0,47,35,2.65,-0.35,2.30,...,4,7,0,289,139,8.0,contend,contend,low,55.478058
8,PHO,9.0,28.1,45.0,37.0,46,36,2.07,0.01,2.08,...,5,1,0,366,176,9.0,contend,contend,high,172.355582
9,NOP,10.0,25.9,42.0,40.0,46,36,1.89,-0.26,1.63,...,2,3,0,262,148,10.0,contend,contend,low,46.554989
10,GSW,11.0,27.3,44.0,38.0,45,37,1.80,-0.15,1.66,...,3,5,0,765,192,11.0,contend,contend,high,388.928186
11,TOR,12.0,25.8,41.0,41.0,45,37,1.48,0.12,1.59,...,3,9,0,305,151,12.0,contend,contend,low,54.794729
12,CHI,13.0,27.5,40.0,42.0,44,38,1.29,0.07,1.37,...,5,4,0,372,152,13.0,contend,contend,high,206.598659
13,OKC,14.0,22.8,40.0,42.0,44,38,1.09,-0.12,0.96,...,4,4,0,267,149,14.0,contend,contend,low,51.335035
14,BRK,15.0,28.0,45.0,37.0,43,39,0.85,0.18,1.03,...,1,8,2,367,159,15.0,contend,rebuild,high,126.986892
15,LAL,16.0,27.9,43.0,39.0,42,40,0.57,-0.15,0.43,...,4,7,2,516,169,16.0,contend,contend,high,171.661731
16,LAC,17.0,29.7,44.0,38.0,42,40,0.50,-0.19,0.31,...,3,4,2,425,193,17.0,rebuild,rebuild,high,205.403641
17,ATL,18.0,24.9,41.0,41.0,42,40,0.29,0.02,0.32,...,3,8,2,326,154,18.0,rebuild,rebuild,low,38.560962
18,DAL,19.0,27.8,38.0,44.0,41,41,0.07,-0.22,-0.14,...,2,10,2,429,177,19.0,rebuild,rebuild,high,187.909546
19,MIN,20.0,25.8,42.0,40.0,41,41,-0.04,-0.18,-0.22,...,3,7,2,259,145,20.0,rebuild,rebuild,low,41.142463
20,MIA,21.0,27.7,44.0,38.0,40,42,-0.32,0.18,-0.13,...,5,5,0,371,151,21.0,rebuild,rebuild,high,209.542951
21,UTA,22.0,26.5,37.0,45.0,39,43,-0.94,-0.09,-1.03,...,4,6,2,274,149,22.0,rebuild,rebuild,low,44.853667
22,WAS,23.0,26.2,35.0,47.0,38,44,-1.21,0.15,-1.06,...,3,9,2,323,152,23.0,rebuild,rebuild,low,40.969925
23,ORL,24.0,23.1,34.0,48.0,35,47,-2.56,0.17,-2.39,...,3,6,2,261,126,24.0,rebuild,rebuild,low,34.446527
24,IND,25.0,24.5,35.0,47.0,33,49,-3.18,0.28,-2.91,...,2,6,2,263,125,25.0,rebuild,rebuild,low,45.930910
25,POR,26.0,25.1,33.0,49.0,31,51,-4.01,0.05,-3.96,...,1,9,2,300,145,26.0,rebuild,rebuild,low,47.377679
26,CHO,27.0,25.3,27.0,55.0,26,56,-6.24,0.35,-5.89,...,1,6,1,269,125,27.0,tank,rebuild,low,62.381575
27,HOU,28.0,22.1,22.0,60.0,23,59,-7.85,0.24,-7.62,...,5,5,1,381,137,28.0,tank,rebuild,high,115.714427
28,DET,29.0,24.1,17.0,65.0,22,60,-8.22,0.49,-7.73,...,1,7,1,274,129,29.0,tank,rebuild,low,43.790574
29,SAS,30.0,23.9,22.0,60.0,19,63,-10.04,0.22,-9.82,...,4,4,1,319,105,30.0,tank,tank,low,38.828159

In [10]:
#print only team name and strategy
team_stats[['Team', 'Strategy']]

   Team Strategy
0   BOS  contend
1   CLE  contend
2   PHI  contend
3   MEM  contend
4   MIL  contend
5   DEN  contend
6   NYK  contend
7   SAC  contend
8   PHO  contend
9   NOP  contend
10  GSW  contend
11  TOR  contend
12  CHI  contend
13  OKC  contend
14  BRK  rebuild
15  LAL  contend
16  LAC  rebuild
17  ATL  rebuild
18  DAL  rebuild
19  MIN  rebuild
20  MIA  rebuild
21  UTA  rebuild
22  WAS  rebuild
23  ORL  rebuild
24  IND  rebuild
25  POR  rebuild
26  CHO  rebuild
27  HOU  rebuild
28  DET  rebuild
29  SAS     tank

In [11]:
tmr = pd.read_csv(r'C:\Users\krist\Documents\BME\2024_2025_1\Diplomatervezes_2\data\perf_model_input.csv')
tmr23 = pd.read_csv(r'C:\Users\krist\Documents\BME\2024_2025_1\Diplomatervezes_2\data\team_ratings\tmr_2022_23.csv')
tmr['Salary_pct'] = tmr.groupby('Season')['Salary'].transform(lambda x: x / x.max())



tmr23.head(5)

,Rk,Team,Conf,Div,W,L,W/L%,MOV,ORtg,DRtg,NRtg,MOV/A,ORtg/A,DRtg/A,NRtg/A
0,1,Boston Celtics,E,A,57,25,0.695,6.52,118.98,112.28,6.70,6.38,119.04,112.48,6.56
1,2,Cleveland Cavaliers,E,C,51,31,0.622,5.38,117.31,111.69,5.62,5.23,117.31,111.84,5.47
2,3,Philadelphia 76ers,E,A,54,28,0.659,4.32,118.87,114.51,4.35,4.37,118.98,114.56,4.42
3,4,Memphis Grizzlies,W,SW,51,31,0.622,3.94,116.01,112.07,3.93,3.60,115.68,112.09,3.59
4,5,Milwaukee Bucks,E,C,58,24,0.707,3.63,116.13,112.64,3.49,3.61,116.12,112.64,3.48

In [12]:
from catboost import CatBoostRegressor

# Prepare the data
X_train = tmr[[ 'Adjusted Salary','Salary_Rank','Salary_pct', 'Status']]
y_train = tmr['W'].astype(int)

# Encode the categorical feature 'Status'
X_train['Status'] = X_train['Status'].astype('category').cat.codes

# Initialize CatBoostRegressor
model = CatBoostRegressor(iterations=100, learning_rate=0.1, depth=6, verbose=0)

# Train the model
model.fit(X_train, y_train)

# Predict the W/L% for the tmr dataset
X_tmr = tmr[['Adjusted Salary', 'Salary_Rank','Salary_pct', 'Status']]
X_tmr['Status'] = X_tmr['Status'].astype('category').cat.codes
tmr['Predicted W'] = model.predict(X_tmr)

print(tmr[['Team', 'Season', 'W', 'Predicted W']].head())

C:\Users\krist\AppData\Local\Temp\ipykernel_8856\11349876.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Status'] = X_train['Status'].astype('category').cat.codes

                 Team  Season   W  Predicted W
0          Miami Heat    2011  58    51.440734
1       Chicago Bulls    2011  62    55.932491
2  Los Angeles Lakers    2011  57    52.714614
3   San Antonio Spurs    2011  61    51.201434
4       Orlando Magic    2011  52    52.716408

C:\Users\krist\AppData\Local\Temp\ipykernel_8856\11349876.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_tmr['Status'] = X_tmr['Status'].astype('category').cat.codes

from catboost import CatBoostRegressor

# Prepare the data
X_train = tmr[[ 'Rk','Adjusted Salary','Salary_Rank', 'Status']]
y_train = tmr['W'].astype(int)

# Encode the categorical feature 'Status'
X_train['Status'] = X_train['Status'].astype('category').cat.codes

# Initialize CatBoostRegressor
model = CatBoostRegressor(iterations=1000, learning_rate=0.1, depth=6, verbose=0)

# Train the model
model.fit(X_train, y_train)

# Predict the W/L% for the tmr dataset
X_tmr = tmr[['Rk','Adjusted Salary', 'Salary_Rank', 'Status']]
X_tmr['Status'] = X_tmr['Status'].astype('category').cat.codes
tmr['Predicted W'] = model.predict(X_tmr)

print(tmr[['Team', 'Season', 'W', 'Predicted W']].head())

In [13]:

# Add the contracts to the teams
#contracts = [158.588899, 154.265858, 151.371622, 129.122065, 127.408459, 150.663686, 160.732460, 130.745582, 152.907196, 127.924446,155.853288, 130.070303, 157.330665, 129.187181, 149.679315, 154.591641, 154.086813, 127.693998, 152.506642, 127.697804,158.472909, 129.732825, 128.500753, 125.864430, 128.717067, 130.696373, 133.216224, 154.731006, 129.517431, 128.028307]

# Define the status data
##status_data = ['contend', 'contend', 'contend', 'contend', 'contend', 'contend', 'contend', 'contend', 'contend', 'contend','contend', 'contend', 'contend', 'rebuild', 'rebuild', 'contend', 'contend', 'rebuild', 'contend', 'rebuild','contend', 'rebuild', 'rebuild', 'rebuild', 'rebuild', 'rebuild', 'rebuild', 'tank', 'rebuild', 'tank']

# Add a new column for the statuses in tmr23
tmr23['Status'] = team_stats['Strategy']#status_data



#a new column for the contracts in tmr23
tmr23['Adjusted Salary'] =  team_stats['Total_Contract_samp'] #contracts


tmr23['Salary_Rank'] = tmr23['Adjusted Salary'].rank(ascending=False)
tmr23['Salary_pct'] = tmr23['Adjusted Salary'].transform(lambda x: x / x.max())

#tmr23

In [14]:
#fit the model on the tmr23 dataset
X_tmr23 = tmr23[['Adjusted Salary', 'Salary_Rank','Salary_pct', 'Status']]
X_tmr23['Status'] = X_tmr23['Status'].astype('category').cat.codes
tmr23['Predicted W'] = model.predict(X_tmr23)

print(tmr23[['Team', 'W', 'Predicted W']].head(5))

                  Team   W  Predicted W
0       Boston Celtics  57    51.579720
1  Cleveland Cavaliers  51    51.475098
2   Philadelphia 76ers  54    51.489449
3    Memphis Grizzlies  51    51.014662
4      Milwaukee Bucks  58    49.341710

C:\Users\krist\AppData\Local\Temp\ipykernel_8856\2534703295.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_tmr23['Status'] = X_tmr23['Status'].astype('category').cat.codes

#fit the model on the tmr23 dataset
X_tmr23 = tmr23[['Rk','Adjusted Salary', 'Salary_Rank', 'Status']]
X_tmr23['Status'] = X_tmr23['Status'].astype('category').cat.codes
tmr23['Predicted W'] = model.predict(X_tmr23)

print(tmr23[['Team', 'W', 'Predicted W']].head(5))

In [15]:
# Normalize the Predicted W so that their sum is 1230
total_sum = tmr23['Predicted W'].sum()

tmr23['Normalized Predicted W'] = tmr23['Predicted W'] * (1230 / total_sum) 


# Print the updated dataframe
tmr23[['Team', 'W', 'Predicted W', 'Normalized Predicted W']].head(5)

                  Team   W  Predicted W  Normalized Predicted W
0       Boston Celtics  57    51.579720               49.159880
1  Cleveland Cavaliers  51    51.475098               49.060167
2   Philadelphia 76ers  54    51.489449               49.073844
3    Memphis Grizzlies  51    51.014662               48.621332
4      Milwaukee Bucks  58    49.341710               47.026866

In [16]:
player_cl = pd.read_csv(r'C:\Users\krist\Documents\BME\2024_2025_1\Diplomatervezes_2\data\ML_outputs\player_clusters.csv')
team_cl = pd.read_csv(r'C:\Users\krist\Documents\BME\2024_2025_1\Diplomatervezes_2\data\ML_outputs\team_clusters.csv')
team_cl.head()

,Team,Rk_x,Age,W_x,L_x,PW,PL,MOV_x,SOS,SRS,...,Acquired via Expansion,Acquired via Free Agency,Total Roster,Cluster_1,Cluster_2,Cluster_3,Cluster_4,Cluster_5,Cluster_6,Cluster
0,BOS,1.0,27.4,57.0,25.0,57,25,6.52,-0.15,6.38,...,0,5,15,2,2,3,2,4,5,0
1,CLE,2.0,25.4,51.0,31.0,55,27,5.38,-0.15,5.23,...,0,7,15,1,2,1,6,2,6,0
2,PHI,3.0,28.2,54.0,28.0,52,30,4.32,0.06,4.37,...,0,7,15,2,0,3,6,3,7,0
3,MEM,4.0,24.4,51.0,31.0,51,31,3.94,-0.34,3.60,...,0,3,15,1,4,2,6,1,5,0
4,MIL,5.0,29.8,58.0,24.0,50,32,3.63,-0.02,3.61,...,0,9,15,1,2,2,5,2,9,0

In [17]:
#calculate a team star power by the number of players in the first and second cluster, with the first cluster being worth 2 points and the second cluster being worth 1 point
team_star_power_df = pd.DataFrame(None)
team_star_power_df['Team'] = team_cl['Team']
team_star_power_df['Star Power'] = (2 * team_cl['Cluster_1'] + team_cl['Cluster_2'])/2
team_star_power_df['Perf'] = tmr23['Normalized Predicted W']
team_star_power_df.head()

  Team  Star Power       Perf
0  BOS         3.0  49.159880
1  CLE         2.0  49.060167
2  PHI         2.0  49.073844
3  MEM         3.0  48.621332
4  MIL         2.0  47.026866

In [18]:
#átírni
data = {


    'Team_full': ['Atlanta Hawks', 'Boston Celtics', 'Brooklyn Nets', 'Charlotte Hornets', 'Chicago Bulls',
             'Cleveland Cavaliers', 'Dallas Mavericks', 'Denver Nuggets', 'Detroit Pistons', 'Golden State Warriors',
             'Houston Rockets', 'Indiana Pacers', 'LA Clippers', 'Los Angeles Lakers', 'Memphis Grizzlies',
             'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves', 'New Orleans Pelicans', 'New York Knicks',
             'Oklahoma City Thunder', 'Orlando Magic', 'Philadelphia 76ers', 'Phoenix Suns', 'Portland Trail Blazers',
             'Sacramento Kings', 'San Antonio Spurs', 'Toronto Raptors', 'Utah Jazz', 'Washington Wizards'],
    'Total_Revenue': [326, 443, 367, 269, 372, 348, 429, 348, 274, 765, 381, 263, 425, 516, 258,
                      371, 328, 259, 262, 504, 267, 261, 371, 366, 300, 289, 319, 305, 274, 323],

    'Team': ['ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS']

}

# Create a DataFrame
team_revenues = pd.DataFrame(data)

#merge the team_star_power_df and team_revenues dataframes
#team_inc_df = team_star_power_df.merge(team_revenues, on='Team')

#add the revenues to the team_star_power_df
team_inc_df = team_star_power_df

team_inc_df['Total_Revenue'] = team_stats['Total_Revenue']


team_inc_df['Revenue_Cluster'] = 'low'
team_inc_df.loc[team_inc_df['Total_Revenue'] > 330, 'Revenue_Cluster'] = 'high'


team_inc_df.head(5)

  Team  Star Power       Perf  Total_Revenue Revenue_Cluster
0  BOS         3.0  49.159880            443            high
1  CLE         2.0  49.060167            348            high
2  PHI         2.0  49.073844            371            high
3  MEM         3.0  48.621332            258             low
4  MIL         2.0  47.026866            328             low

In [19]:
# Define the parameters for high and low revenue clusters
high_revenue_multiplier = 1.8
low_revenue_multiplier = 1.4

# Calculate the payoffs
def calculate_payoff(row):
    if row['Revenue_Cluster'] == 'high':
        return row['Total_Revenue'] * (1+ high_revenue_multiplier * row['Star Power'] / 10) * ( high_revenue_multiplier * row['Perf'] / 100)
    else:
        return row['Total_Revenue'] * (1+ low_revenue_multiplier * row['Star Power'] / 10) * ( low_revenue_multiplier * row['Perf'] / 100)

team_inc_df['Payoff'] = team_inc_df.apply(calculate_payoff, axis=1)

# Print the updated dataframe
team_inc_df.head(30)

   Team  Star Power       Perf  Total_Revenue Revenue_Cluster      Payoff
0   BOS         3.0  49.159880            443            high  603.681360
1   CLE         2.0  49.060167            348            high  417.945522
2   PHI         2.0  49.073844            371            high  445.692580
3   MEM         3.0  48.621332            258             low  249.380755
4   MIL         2.0  47.026866            328             low  276.412630
5   DEN         1.5  47.795210            348            high  380.224277
6   NYK         3.5  51.784844            504            high  765.761135
7   SAC         2.0  46.795292            289             low  242.347202
8   PHO         2.0  49.143401            366            high  440.309147
9   NOP         2.0  48.219489            262             low  226.392429
10  GSW         2.0  50.973233            765            high  954.585932
11  TOR         2.5  46.806997            305             low  269.818933
12  CHI         3.0  49.473309            372            high  510.160844
13  OKC         1.0  47.554858            267             low  202.646469
14  BRK         2.0  34.198060            367            high  307.240845
15  LAL         2.5  49.143401            516            high  661.843667
16  LAC         1.5  36.435357            425            high  353.987706
17  ATL         2.5  32.748148            326             low  201.774442
18  DAL         2.0  35.489652            429            high  372.709482
19  MIN         1.5  33.812108            259             low  148.349273
20  MIA         2.0  37.034803            371            high  336.353041
21  UTA         2.0  33.795757            274             low  165.939868
22  WAS         1.5  33.864486            323             low  185.293599
23  ORL         1.0  32.439674            261             low  135.129408
24  IND         2.5  33.400567            263             low  166.024198
25  POR         2.5  33.410275            300             low  189.436258
26  CHO         1.5  33.873366            269             low  154.356187
27  HOU         2.0  34.168463            381            high  318.685155
28  DET         2.0  33.870001            274             low  166.304414
29  SAS         1.0  20.827161            319             low  106.036078

In [20]:
# Calculate the performance share for each team
tmr23['Performance Share'] = tmr23['Normalized Predicted W'] / tmr23['Normalized Predicted W'].sum()

# Square each performance share
tmr23['Performance Share Squared'] = tmr23['Performance Share'] ** 2

# Sum the squared performance shares to get the HHI
hhi = tmr23['Performance Share Squared'].sum()

print('Herfindahl-Hirschman Index (HHI):', hhi)

Herfindahl-Hirschman Index (HHI): 0.03465500479796422

In [21]:
#print the df and the HHI
team_inc_df, hhi

(   Team  Star Power       Perf  Total_Revenue Revenue_Cluster      Payoff
 0   BOS         3.0  49.159880            443            high  603.681360
 1   CLE         2.0  49.060167            348            high  417.945522
 2   PHI         2.0  49.073844            371            high  445.692580
 3   MEM         3.0  48.621332            258             low  249.380755
 4   MIL         2.0  47.026866            328             low  276.412630
 5   DEN         1.5  47.795210            348            high  380.224277
 6   NYK         3.5  51.784844            504            high  765.761135
 7   SAC         2.0  46.795292            289             low  242.347202
 8   PHO         2.0  49.143401            366            high  440.309147
 9   NOP         2.0  48.219489            262             low  226.392429
 10  GSW         2.0  50.973233            765            high  954.585932
 11  TOR         2.5  46.806997            305             low  269.818933
 12  CHI         3.0  49.473309            372            high  510.160844
 13  OKC         1.0  47.554858            267             low  202.646469
 14  BRK         2.0  34.198060            367            high  307.240845
 15  LAL         2.5  49.143401            516            high  661.843667
 16  LAC         1.5  36.435357            425            high  353.987706
 17  ATL         2.5  32.748148            326             low  201.774442
 18  DAL         2.0  35.489652            429            high  372.709482
 19  MIN         1.5  33.812108            259             low  148.349273
 20  MIA         2.0  37.034803            371            high  336.353041
 21  UTA         2.0  33.795757            274             low  165.939868
 22  WAS         1.5  33.864486            323             low  185.293599
 23  ORL         1.0  32.439674            261             low  135.129408
 24  IND         2.5  33.400567            263             low  166.024198
 25  POR         2.5  33.410275            300             low  189.436258
 26  CHO         1.5  33.873366            269             low  154.356187
 27  HOU         2.0  34.168463            381            high  318.685155
 28  DET         2.0  33.870001            274             low  166.304414
 29  SAS         1.0  20.827161            319             low  106.036078,
 0.03465500479796422)

In [22]:
# Calculate the sum of the team payoffs
#total_payoff = sum([sum(payoff.values()) for payoff in team_payoffs.values()])
total_payoff = team_inc_df['Payoff'].sum()

# Print the sum of the team payoffs and the HHI
print('Total Payoff:', total_payoff)
print('Herfindahl-Hirschman Index (HHI):', hhi)

Total Payoff: 9954.82283614773
Herfindahl-Hirschman Index (HHI): 0.03465500479796422

In [23]:
print('NBA policies: Luxury tax = 150, Max contract = 37, Rookie contract = 8')
print('Total NBA payoff: 10032.14; HHI: 0.0346')
print('--------------------------------------------')
print('NBA policies: Luxury tax = 250, Max contract = 50, Rookie contract = 18')
print('Total NBA payoff: 9890.89; HHI:0.0343' )
print('--------------------------------------------')
print('NBA policies: Luxury tax = 100, Max contract = 35, Rookie contract = 18')
print('Total NBA payoff: 9900.85; HHI: 0.0344')

NBA policies: Luxury tax = 150, Max contract = 37, Rookie contract = 8
Total NBA payoff: 10032.14; HHI: 0.0346
--------------------------------------------
NBA policies: Luxury tax = 250, Max contract = 50, Rookie contract = 18
Total NBA payoff: 9890.89; HHI:0.0343
--------------------------------------------
NBA policies: Luxury tax = 100, Max contract = 35, Rookie contract = 18
Total NBA payoff: 9900.85; HHI: 0.0344